/*-------------------------------------------------
 =  Table of Css

 1.Isotope
 2.Header
 3.content - home sections
 4.Home grid
 5.Home masonry
 6.Home agency
 7.Blog page
 8.Single Post
 9.portfolio 2col, fullwidth
 10.home photography
 11.single-project
 12.shop page
 13.Services page
 14.About page
 15.Contact page
 16.Footer
 17.nouislider style (used in priccing range)
 18.Responsive Part
-------------------------------------------------*/
body{
  background: #f7f7f7;
}
/*-------------------------------------------------------*/
/* 1. Isotope filtering
/*-------------------------------------------------------*/
.isotope-item {
  z-index: 2;
}
.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}
.isotope,
.isotope .isotope-item {
  /* change duration value to whatever you like */
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  transition-duration: 0.8s;
}
.isotope {
  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  transition-property: height, width;
}
.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform, opacity;
  transition-property: transform, opacity;
}
/*-------------------------------------------------*/
/* =  Header
/*-------------------------------------------------*/
.navbar-default {
  background: transparent;
  border: none;
  width: 100%;
  margin-bottom: 0;
}
.relative{
  position: relative;
}
.navbar .navbar-brand {
  padding: 45px 15px 45px;
  display: inline-block;
  height: auto;
  font-family: 'Dancing Script';
  font-size: 36px;
  color: #a9a884;
  line-height: 36px;
}
.navbar-nav > li {
  margin-left: 5px;
  position: relative;
}
.navbar-nav > li:first-child {
  
}
.site-nav {
  text-align: center;
  visibility: hidden;
  opacity: 0;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 900;
  background: rgba(0,0,0,0.8);
  margin: 0px;
  overflow: auto;
  
}
.site-nav img{
  margin-bottom: 70px;
}
.site-nav.active {
  opacity: 1;
  visibility: visible;
}
.navbar-nav{
  float: none;
}
.navbar-nav > li{
  margin-left: 0px;
  float: none;
}
.navbar-nav > li > a {
  padding: 20px 15px;
  color: #ffffff !important;
  font-size: 18px;
  
  font-weight: 400;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-weight: 200;
}
.site-nav .social_icons{
  margin: 80px 0px 0px 90px;
  padding: 0px;
}
.site-nav .social_icons a{
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  color: #a9a884;
}
.site-nav .social_icons a:hover{
  color: #fff;
}
.site-nav .navbar-nav > li > a:hover{
  color: #a9a884 !important;
}
.site-nav .social_icons li{
  display: inline-block;
  margin-right: 90px;
}
.navbar-nav > li > a:hover {
  color: #eeeeee !important;
}
.navbar-default.active .nav-wrap{
  background: #222222;
}
.navbar-default.active .nav-wrap{
  max-width: 1370px;
  margin: 0 auto;
}
.navbar-default.active .navbar-brand {
  padding: 20px 15px;
}
.navbar-default.active .navbar-nav {
  margin-top: 0px;
}
.navbar-default.active .navbar-nav > li > a {
  padding: 26px 15px;
}
.navbar-default.active a.open-menu {
  padding: 26px 0 5px 60px;
}
.navbar-default.active a.open-menu.opened {
  padding: 19px 0 2px 60px;
}
a.open-menu {
  float: right;
  display: inline-block;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  padding: 50px 0px 30px 60px;
  position: absolute;
  right: 15px;
  top: 5px;
  z-index: 9999;
}
a.open-menu span {
  display: block;
  width: 32px;
  height: 2px;
  background: #222;
  margin: 0 0 8px;
}
a.open-menu span.last-child {
  margin-bottom: 0;
}
a.open-menu span.close-menu {
  display: none;
  width: 32px;
  height: 32px;
  background: url('../images/close.png') center center no-repeat;
}
a.open-menu.opened span {
  display: none;
}
a.open-menu.opened span.close-menu {
  display: block;
}
li.drop ul.drop-down {
  margin: 0;
  padding: 0;
  padding: 4px 0;
  position: absolute;
  top: 100%;
  left: 0;
  width: 160px;
  visibility: hidden;
  opacity: 0;
  z-index: 3;
  text-align: left;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transform: rotateX(-90deg);
  -moz-transform: rotateX(-90deg);
  -ms-transform: rotateX(-90deg);
  -o-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
  border: 1px solid #f2f2f2;
  background: #ffffff;
}
li.drop ul.drop-down li {
  list-style: none;
  display: block;
  margin: 0;
}
li.drop ul.drop-down li a {
  display: inline-block;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  display: block;
  color: #222222;
  font-size: 12px;
  
  padding: 12px 20px;
  text-transform: uppercase;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  border: none;
}
li.drop ul.drop-down li a:hover {
  color: #a9a884;
}
li.drop:hover ul.drop-down {
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  -ms-transform: rotateX(0deg);
  -o-transform: rotateX(0deg);
  transform: rotateX(0deg);
  visibility: visible;
  opacity: 1;
}
/*-------------------------------------------------*/
/* =  content - home sections
/*-------------------------------------------------*/
#container {
  opacity: 0;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  
}
#content{
  
  max-width: 1370px;
  margin: 0 auto;
}

#container.active {
  opacity: 1;
}
p {
  font-size: 13px;
  color: #999;
  
  line-height: 24px;
  font-weight: 400;
  margin: 0 0 10px;
}
#home-section{
  position: relative;
}
#home-section .tp-caption.finewide_medium_white {
  color: #ffffff;
  text-shadow: none;
  font-size: 36px;
  line-height: 42px;
  font-weight: 300;
  
  background-color: none;
  text-decoration: none;
  text-transform: uppercase;
  border-width: 0px;
  border-color: transparent;
  -webkit-font-smoothing: antialiased;
  border-style: none;
  text-align: center;
  letter-spacing: 2.5px;
}
#home-section .tp-caption.finewide_medium_white span {
  display: inline-block;
  font-size: 82px;
  font-family: 'Dancing Script', cursive !important;
  text-transform: lowercase;
  font-weight: 400;
}
#home-section .tp-caption span.corner-border {
  display: block;
  width: 70px;
  height: 70px;
}
#home-section .tp-caption span.corner-border.left-top {
  border-top: 1px solid #ffffff;
  border-left: 1px solid #ffffff;
}
#home-section .tp-caption span.corner-border.left-bottom {
  border-bottom: 1px solid #ffffff;
  border-left: 1px solid #ffffff;
}
#home-section .tp-caption span.corner-border.right-top {
  border-top: 1px solid #ffffff;
  border-right: 1px solid #ffffff;
}
#home-section .tp-caption span.corner-border.right-bottom {
  border-bottom: 1px solid #ffffff;
  border-right: 1px solid #ffffff;
}
#home-section .tp-bannertimer {
  display: none !important;
}
#home-section .slotholder:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
}
#home-section.slider2 .tp-caption.finewide_medium_white span {
  display: inline-block;
  font-size: 82px;
}
#home-section.slider2 .tp-caption span.corner-border {
  display: block;
  width: 50px;
  height: 50px;
}
#home-section.slider2 .slotholder:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: rgba(17, 17, 17, 0.95);
}
.banner-logo-section {
  text-align: center;
  padding: 100px 100px 0px 100px;
}
.banner-logo-section img {
  margin-bottom: 30px;
}
.banner-logo-section p {
  font-family: 'Droid Serif', serif;
  font-style: italic;
  line-height: 24px;
  max-width: 535px;
  margin: 0 auto 20px;
}
.statistic-section {
  padding: 100px 0 20px;
  position: relative;
  
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}
.statistic-section .container {
  position: relative;
  z-index: 2;
}
.statistic-section .statistic-box {
  overflow: hidden;
}
.statistic-section .statistic-box .statistic-post {
  padding: 10px 0;
  width: 25%;
  margin-bottom: 20px;
  float: left;
  text-align: center;
  position: relative;
}
.statistic-section .statistic-box .statistic-post p {
  color: #222;
  font-size: 48px;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  margin-bottom: 35px;
  letter-spacing: 2px;
  line-height: auto;
}
.statistic-section .statistic-box .statistic-post h2 {
  margin: 0;
  color: #a9a884;
  font-size: 13px;
  font-family: 'Droid Serif', serif;
  font-style: italic;
  font-weight: 400;
}
.statistic-section .statistic-box .statistic-post:after {
  content: '';
  position: absolute;
  width: 0;
  height: 100%;
  top: 0;
  right: 0;
  border-right: 1px solid #f8f8f8;
  -webkit-transform: rotate(30deg);
  -moz-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  -o-transform: rotate(30deg);
  transform: rotate(30deg);
}
.statistic-section .statistic-box .statistic-post:last-child:after {
  display: none;
}
.statistic-section:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  
}
.boxed .portfolio-section.masonry-style {
  /*padding: 68px 0 60px;*/
  padding-top: 68px !important; 
  padding-bottom: 68px !important; 
}
.portfolio-section.masonry-style .portfolio-box.masonry {
  margin-left: -15px;
  margin-right: -15px;
  margin-bottom: 50px;
}
.portfolio-section.masonry-style .portfolio-box.masonry .project-post {
  width: 360px;
  margin: 15px;
}
.portfolio-section.masonry-style .portfolio-box.masonry.no-padd .project-post {
  width: 390px;
  margin: 0px;
}
.portfolio-section.masonry-style.col2 .portfolio-box.masonry.no-padd .project-post{
  width: 585px;
  margin: 0px;
}
.project-post {
  margin: 15px;
  position: relative;
}
.project-post img {
  width: 100%;
}
.project-post .hover-box {
  position: absolute;
  top: 10px;
  left: 10px;
  width: auto;
  right: 10px;
  height: auto;
  bottom: 10px;
  background: rgba(255, 255, 255, 0.8);
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  opacity: 0;
  visibility: hidden;
}
.project-post .hover-box .inner-hover {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 50%;
  margin-top: -50px;
  left: 0;
  padding: 0 20px;
  z-index: 2;
}
.project-post .hover-box .inner-hover h2 {
  color: #222222;
  font-size: 36px;
  
  font-weight: 300;
  letter-spacing: 2px;
  margin: 0 0 12px;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  margin-bottom: 15px;
}
.project-post .hover-box .inner-hover h2 a {
  display: inline-block;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  color: #222222;
}
.project-post .hover-box .inner-hover h2 a:hover {
  color: #a9a884;
}
.project-post .hover-box .inner-hover p {
  font-family: 'Droid Serif', serif;
  font-style: italic;
  font-size: 12px;
  line-height: 24px;
  max-width: 230px;
  margin: 0 auto;
}
.project-post .hover-box span.corner-border {
  position: absolute;
  display: block;
  width: 50px;
  height: 50px;
}
.project-post .hover-box span.corner-border.left-top {
  border-top: 1px solid #a9a884;
  border-left: 1px solid #a9a884;
  top: 0;
  left: 0;
}
.project-post .hover-box span.corner-border.left-bottom {
  border-bottom: 1px solid #a9a884;
  border-left: 1px solid #a9a884;
  left: 0;
  bottom: 0;
}
.project-post .hover-box span.corner-border.right-top {
  border-top: 1px solid #a9a884;
  border-right: 1px solid #a9a884;
  right: 0;
  top: 0;
}
.project-post .hover-box span.corner-border.right-bottom {
  border-bottom: 1px solid #a9a884;
  border-right: 1px solid #a9a884;
  right: 0;
  bottom: 0;
}
.project-post:hover .hover-box {
  opacity: 1;
  visibility: visible;
}
ul.filter {
  margin: 0;
  padding: 0;
  text-align: center;
  margin-bottom: 50px;
}
ul.filter li {
  display: inline-block;
  margin: 0 12px 10px;
}
ul.filter li a {
  display: inline-block;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  position: relative;
  padding: 3px 6px;
  color: #222222;
  font-size: 16px;
  
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  border-bottom: 1px solid transparent;
}
ul.filter li a span {
  position: absolute;
  top: -10px;
  right: -16px;
  color: #888888;
  font-size: 15px;
}
ul.filter li a.active,
ul.filter li a:hover {
  border-bottom: 1px solid #222222;
}
.center-button {
  text-align: center;
}
a.button-one {
  display: inline-block;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  width: 170px;
  text-align: center;
  padding: 7px 10px;
  background: #a9a884;
  color: #ffffff;
  font-size: 13px;
  
}
a.button-one:hover {
  background: #222222;
}
.clients-section {
  padding: 20px 0 80px;
  text-align: center;
}
.clients-section ul.clients-list {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.clients-section ul.clients-list li {
  float: left;
  width: 16.666666%;
  list-style: none;
  padding: 0 20px;
}
.clients-section ul.clients-list li a {
  display: inline-block;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  opacity: 0.5;
  width: 100%;
}
.clients-section ul.clients-list li a img {
  width: 100%;
}
.clients-section ul.clients-list li a:hover {
  opacity: 1;
}
.half-section {
  overflow: hidden;
}
.half-section .left-half {
  width: 50%;
  float: left;
  overflow: hidden;
}
.half-section .left-half .image-box,
.half-section .left-half .text-box {
  float: right;
  width: 570px;
}
.half-section .left-half .text-box {
  padding-right: 20px;
  padding-top: 60px;
}
.half-section .right-half {
  width: 50%;
  float: right;
  overflow: hidden;
}
.half-section .right-half .image-box,
.half-section .right-half .text-box {
  float: left;
  width: 570px;
}
.half-section .right-half .text-box {
  padding-left: 80px;
  padding-top: 60px;
}
.half-section .image-sect {
  position: relative;
  padding: 100px 0;
  background: url('../upload/banners/1.jpg') 0 fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}
.half-section .image-sect .image-box {
  position: relative;
  z-index: 2;
}
.half-section .image-sect .image-box img {
  width: 100%;
}
.half-section .image-sect .image-box .hover-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(34, 34, 34, 0.5);
}
.half-section .image-sect .image-box .hover-box .inner-hover {
  position: absolute;
  text-align: center;
  left: 100px;
  right: 100px;
  top: 50%;
  margin-top: -100px;
  padding: 50px 10px;
  z-index: 2;
}
.half-section .image-sect .image-box .hover-box .inner-hover h2 {
  color: #222222;
  font-size: 36px;
  
  font-weight: 300;
  letter-spacing: 2px;
  margin: 0 0 12px;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  margin-bottom: 15px;
}
.half-section .image-sect .image-box .hover-box .inner-hover h2 a {
  display: inline-block;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  color: #ffffff;
}
.half-section .image-sect .image-box .hover-box .inner-hover h2 a:hover {
  color: #a9a884;
}
.half-section .image-sect .image-box .hover-box .inner-hover p {
  font-family: 'Droid Serif', serif;
  font-style: italic;
  font-size: 12px;
  line-height: 24px;
  max-width: 235px;
  margin: 0 auto;
  color: #ffffff;
}
.half-section .image-sect .image-box .hover-box .inner-hover span.corner-border {
  position: absolute;
  display: block;
  width: 50px;
  height: 50px;
}
.half-section .image-sect .image-box .hover-box .inner-hover span.corner-border.left-top {
  border-top: 1px solid #a9a884;
  border-left: 1px solid #a9a884;
  top: 0;
  left: 0;
}
.half-section .image-sect .image-box .hover-box .inner-hover span.corner-border.left-bottom {
  border-bottom: 1px solid #a9a884;
  border-left: 1px solid #a9a884;
  left: 0;
  bottom: 0;
}
.half-section .image-sect .image-box .hover-box .inner-hover span.corner-border.right-top {
  border-top: 1px solid #a9a884;
  border-right: 1px solid #a9a884;
  right: 0;
  top: 0;
}
.half-section .image-sect .image-box .hover-box .inner-hover span.corner-border.right-bottom {
  border-bottom: 1px solid #a9a884;
  border-right: 1px solid #a9a884;
  right: 0;
  bottom: 0;
}
.half-section .image-sect.back-two {
  background: url('../upload/banners/2.jpg') 0 fixed;
}
.half-section .image-sect.back-three {
  background: url('../upload/banners/3.jpg') 0 fixed;
}
.half-section .image-sect:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(34, 34, 34, 0.3);
}
.half-section .text-sect {
  padding: 100px 0;
}
.half-section .text-sect .title-section {
  margin-bottom: 90px;
}
.half-section .text-sect .title-section h1 {
  color: #222222;
  font-size: 36px;
  
  font-weight: 300;
  letter-spacing: 2px;
  margin: 0 0 12px;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
}
.half-section .text-sect .title-section p {
  font-family: 'Droid Serif', serif;
  font-style: italic;
  font-size: 12px;
  line-height: 24px;
  margin: 0 auto;
}
.half-section .text-sect .about-post {
  overflow: hidden;
  margin-bottom: 60px;
}
.half-section .text-sect .about-post i {
  float: left;
  font-size: 40px;
  color: #a9a884;
  margin-top: 12px;
}
.half-section .text-sect .about-post .post-content {
  margin-left: 100px;
}
.half-section .text-sect .about-post .post-content h2 {
  color: #a9a884;
  font-size: 14px;
  
  font-weight: 400;
  margin: 0 0 10px;
  text-transform: uppercase;
  letter-spacing: 1.6px;
  margin-bottom: 20px;
}
.half-section .text-sect .services-post {
  margin-bottom: 50px;
}
.half-section .text-sect .services-post i {
  font-size: 40px;
  color: #a9a884;
  margin-bottom: 20px;
}
.half-section .text-sect .services-post h2 {
  color: #a9a884;
  font-size: 14px;
  
  font-weight: 400;
  margin: 0 0 10px;
  text-transform: uppercase;
  letter-spacing: 1.6px;
  margin-bottom: 20px;
}
.half-section .text-sect .contact-info h2 {
  color: #a9a884;
  font-size: 14px;
  
  font-weight: 400;
  margin: 0 0 10px;
  text-transform: uppercase;
  letter-spacing: 1.6px;
  margin-bottom: 15px;
}
.half-section .text-sect .contact-info p {
  margin-bottom: 0;
}
.half-section .text-sect form#contact-form {
  margin: -60px 0 20px;
}
.half-section .text-sect form#contact-form input[type="text"],
.half-section .text-sect form#contact-form textarea {
  width: 100%;
  padding: 0px 20px 14px;
  border: none;
  border-bottom: 1px solid #cccccc;
  margin-bottom: 35px;
  outline: none;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  color: #888888;
  font-size: 13px;
  
}
.half-section .text-sect form#contact-form input[type="text"]:focus,
.half-section .text-sect form#contact-form textarea:focus {
  border-bottom: 1px solid #a9a884;
}
.half-section .text-sect form#contact-form textarea {
  height: 130px;
  border: 1px solid #cccccc;
  padding-top: 14px;
  margin-top: 20px;
  margin-bottom: 30px;
}
.half-section .text-sect form#contact-form textarea:focus {
  border: 1px solid #a9a884;
}
.half-section .text-sect form#contact-form input[type="submit"] {
  min-width: 130px;
  text-align: center;
  padding: 7px 10px;
  background: #a9a884;
  color: #ffffff;
  font-size: 13px;
  
  outline: none;
  border: none;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  margin-bottom: 10px;
}
.half-section .text-sect form#contact-form input[type="submit"]:hover {
  background: #222222;
}
.half-section .text-sect form#contact-form .message {
  padding: 10px 20px;
  font-size: 13px;
  
}
.half-section .text-sect form#contact-form .message.error {
  color: #e74c3c;
  background: rgba(246, 80, 80, 0.4);
  border: 1px solid #e74c3c;
}
.half-section .text-sect form#contact-form .message.success {
  color: #29b504;
  background: rgba(63, 220, 21, 0.4);
  border: 1px solid #29b504;
}
/*
*Client Section
*/
.bxslider-clients img {
  opacity: 0.7;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}
.bxslider-clients img:hover{
  opacity: 1;
}
/*-------------------------------------------------*/
/* =  home2, home3
/*-------------------------------------------------*/
.portfolio-section.masonry-style.no-padding-top {
  padding-top: 0;
}
.portfolio-section.grid-style-fullwidth {
  padding: 80px 0 100px;
}
.portfolio-section.grid-style-fullwidth .portfolio-box.masonry {
  margin: 0 10px;
}
.portfolio-section.grid-style-fullwidth .portfolio-box.masonry .project-post {
  width: 25%;
  padding: 10px;
  margin: 0;
}
.portfolio-section.grid-style-fullwidth .portfolio-box.masonry .project-post .hover-box {
  width: auto;
  height: auto;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  background: rgba(255, 255, 255, 0.9);
}
.portfolio-section.grid-style-fullwidth .portfolio-box.masonry .project-post .hover-box .inner-hover {
  margin-top: -20px;
}
.portfolio-section.grid-style-fullwidth .portfolio-box.masonry .project-post .hover-box .inner-hover h2 {
  color: #a9a884;
  font-size: 14px;
  
  font-weight: 400;
  margin: 0 0 10px;
  text-transform: uppercase;
  letter-spacing: 1.6px;
}
.portfolio-section.grid-style-fullwidth .portfolio-box.masonry .project-post .hover-box .inner-hover h2 a {
  color: #222222;
}
.portfolio-section.grid-style-fullwidth .portfolio-box.masonry .project-post .hover-box .inner-hover h2 a:hover {
  color: #a9a884;
}
.portfolio-section.grid-style-fullwidth.no-padding {
  padding: 0;
}
.services-section {
  padding: 70px 0;
}
.services-section .services-box .services-post {
  margin-bottom: 30px;
}
.services-section .services-box .services-post i {
  font-size: 30px;
  color: #a9a884;
  margin-bottom: 22px;
}
.services-section .services-box .services-post h2 {
  color: #a9a884;
  font-size: 14px;
  
  font-weight: 400;
  margin: 0 0 10px;
  text-transform: uppercase;
  letter-spacing: 1.6px;
  margin-bottom: 12px;
}
.services-section .services-box .services-post p {
  margin: 0;
}

/*-------------------------------------------------*/
/* =  home boxed
/*-------------------------------------------------*/
.p-caption{
  position: relative;
  z-index: 2;
}
.p-caption .hover-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
}
.p-caption .hover-box .inner-hover {
  position: absolute;
  text-align: center;
  left: 100px;
  right: 100px;
  top: 50%;
  margin-top: -100px;
  padding: 50px 10px;
  z-index: 2;
}
.p-caption .hover-box .inner-hover h2 {
  color: #222222;
  font-size: 36px;
  
  font-weight: 300;
  letter-spacing: 2px;
  margin: 0 0 12px;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  margin-bottom: 15px;
}
.p-caption  .hover-box .inner-hover h2 a {
  display: inline-block;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  color: #222;
}
.p-caption .hover-box .inner-hover h2 a:hover {
  color: #a9a884;
}
.p-caption .hover-box .inner-hover p {
  font-family: 'Droid Serif', serif;
  font-style: italic;
  font-size: 12px;
  line-height: 24px;
  max-width: 235px;
  margin: 0 auto;
  color: #999;
}
.p-caption .hover-box .inner-hover span.corner-border {
  position: absolute;
  display: block;
  width: 50px;
  height: 50px;
}
.p-caption .hover-box .inner-hover span.corner-border.left-top {
  border-top: 1px solid #a9a884;
  border-left: 1px solid #a9a884;
  top: 0;
  left: 0;
}
.p-caption .hover-box .inner-hover span.corner-border.left-bottom {
  border-bottom: 1px solid #a9a884;
  border-left: 1px solid #a9a884;
  left: 0;
  bottom: 0;
}
.p-caption .hover-box .inner-hover span.corner-border.right-top {
  border-top: 1px solid #a9a884;
  border-right: 1px solid #a9a884;
  right: 0;
  top: 0;
}
.p-caption .hover-box .inner-hover span.corner-border.right-bottom {
  border-bottom: 1px solid #a9a884;
  border-right: 1px solid #a9a884;
  right: 0;
  bottom: 0;
}
.portfolio-alt-section img{
  width: 100%;
}
.no-padding{
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.full-width img, .full-width, .wpb_single_image .vc_single_image-wrapper{
  width: 100% !important;
}
/*-------------------------------------------------*/
/* =  about us
/*-------------------------------------------------*/
.page-banner-section {
  padding: 160px 0;
  background: url('../upload/banners/ban2.jpg') center fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  border-top: 100px solid #fff;
  border-left: 100px solid #fff;
  border-right: 100px solid #fff;

}
.bottom-100{
  padding-bottom: 100px !important;
}
.page-banner-section .page-banner-box {
  max-width: 770px;
  margin: 0 auto;
  padding: 80px 0;
  position: relative;
  text-align: center;
}
.page-banner-section .page-banner-box h1 {
  color: #222222;
  font-size: 36px;
  
  font-weight: 300;
  letter-spacing: 2px;
  margin: 0 0 12px;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  
}
.page-banner-section.blog-banner .page-banner-box h1{
  color: #222;
}
.page-banner-section .page-banner-box p {
  color: #a9a884;
  font-size: 14px;
  font-family: 'Droid Serif', serif;
  font-style: italic;
  margin: 16px 0 0;
}
.page-banner-section .page-banner-box span.corner-border {
  position: absolute;
  display: block;
  width: 50px;
  height: 50px;
}
.page-banner-section .page-banner-box span.corner-border.left-top {
  border-top: 1px solid #a9a884;
  border-left: 1px solid #a9a884;
  top: 0;
  left: 0;
}
.page-banner-section.white-banner .page-banner-box span.corner-border{
  border-color: #fff !important;
}
.page-banner-section.white-banner  .page-banner-box h1{
  color: #fff;
}
.page-banner-section .page-banner-box span.corner-border.left-bottom {
  border-bottom: 1px solid #a9a884;
  border-left: 1px solid #a9a884;
  left: 0;
  bottom: 0;
}
.page-banner-section .page-banner-box span.corner-border.right-top {
  border-top: 1px solid #a9a884;
  border-right: 1px solid #a9a884;
  right: 0;
  top: 0;
}
.page-banner-section .page-banner-box span.corner-border.right-bottom {
  border-bottom: 1px solid #a9a884;
  border-right: 1px solid #a9a884;
  right: 0;
  bottom: 0;
}
.team-section {
  overflow: hidden;
}
.team-section .team-post {
  float: left;
  width: 25%;
  padding-bottom: 130px;
  position: relative;
}
.team-section .team-post img {
  width: 100%;
}
.team-section .team-post .team-content {
  text-align: center;
  position: absolute;
  z-index: 2;
  top: 100%;
  margin-top: -130px;
  width: 100%;
  padding: 25px 10px;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}
.team-section .team-post .team-content h2 {
  color: #a9a884;
  font-size: 14px;
  
  font-weight: 400;
  margin: 0 0 10px;
  text-transform: uppercase;
  letter-spacing: 1.6px;
}
.team-section .team-post .team-content span {
  display: inline-block;
  margin: 0 0 10px;
  color: #888888;
  font-size: 13px;
  font-family: 'Droid Serif', serif;
  font-style: italic;
}
.team-section .team-post .team-content ul.social-team {
  margin: 0;
  padding: 0;
}
.team-section .team-post .team-content ul.social-team li {
  display: inline-block;
  margin: 0 3px;
}
.team-section .team-post .team-content ul.social-team li a {
  display: inline-block;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  color: #888888;
  font-size: 12px;
  
  padding-bottom: 2px;
  border-bottom: 1px solid transparent;
}
.team-section .team-post .team-content ul.social-team li a:hover {
  color: #222222;
  border-bottom: 1px solid #222222;
}
.team-section .team-post .team-content ul.social-team li:before {
  content: '/';
  color: #888888;
  font-size: 12px;
  
  margin-right: 10px;
}
.team-section .team-post .team-content ul.social-team li:first-child:before {
  content: '';
  margin-right: 0;
}
.team-section .team-post:hover .team-content {
  top: 50%;
  margin-top: -120px;
}
.team-section .team-post:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.9);
  opacity: 0;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}
.team-section .team-post:hover:after {
  opacity: 1;
}
.about-us-section {
  padding-top: 60px;
}
.about-us-section .about-box {
  text-align: center;
  margin-bottom: 70px;
}
.about-us-section .about-box img {
  margin-bottom: 34px;
}
.about-us-section .about-box p {
  max-width: 950px;
  margin: 0 auto 25px;
}
.about-us-section .skills-box p {
  margin-bottom: 20px;
}
.about-us-section .skills-box .meter {
  height: 2px;
  width: 100%;
  background: #eeeeee;
  margin-bottom: 10px;
}
.about-us-section .skills-box .meter > p {
  height: 100%;
  background: #222222;
  text-align: right;
  margin: 0;
  padding-top: 1px;
}
.about-us-section .skills-box .meter > p span {
  display: block;
  color: #888888;
  font-size: 13px;
  
  margin-top: -40px;
}
/*-------------------------------------------------*/
/* =  portfolio
/*-------------------------------------------------*/
.page-banner-section.portfolio-banner {
  background: url('../upload/banners/ban3.jpg') center fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}
.portfolio-section.grid-style-fullwidth .center-button {
  margin-top: 60px;
}
/*-------------------------------------------------*/
/* =  blog page
/*-------------------------------------------------*/
.page-banner-section.blog-banner {
  background: url('../upload/banners/ban5.jpg') center fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}
.blog-section {
  padding: 80px 0px 100px 0px;
}
.blog-section .blog-post {
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-position: center;
  background-attachment: fixed;
  border-bottom: 1px solid #eeeeee;
  position: relative;
  
}
.blog-section .blog-post:after{
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(34, 34, 34, 0.8);
}
.blog-section .blog-post:first-child{
  border-top: 1px solid #eeeeee;
}
.blog-section .blog-post img {
  width: 100%;
  margin-bottom: 55px;
}
.blog-section .blog-post iframe {
  height: 400px;
  margin-bottom: 50px;
  width: 100%;
}
.blog-section .blog-post .blog-content {
  text-align: center;
  padding: 80px 0px;
  background: #fff;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  position: relative;
  z-index: 111;
}
.blog-section .blog-post:hover .blog-content{
  background: transparent;
}
.blog-section .blog-post .blog-content .blog-title {
  margin-bottom: 30px;
}
.blog-section .blog-post .blog-content .blog-title p {
  font-family: 'Droid Serif', serif;
  font-style: italic;
  margin-bottom: 10px;
  color: #ccc;
}
.blog-section .blog-post .blog-content .blog-title p.post-meta{
  margin-bottom: 25px;
}
.blog-section .blog-post .blog-content .blog-title p.post-comments{
  margin-top: 25px;
}
.blog-section .blog-post .blog-content .blog-title p a {
  display: inline-block;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  color: #999;
}
.blog-section .blog-post .blog-content .blog-title p a:hover {
  color: #a9a884;
}
.blog-section .blog-post .blog-content .blog-title h2 {
  color: #222222;
  font-size: 36px;
  
  font-weight: 300;
  letter-spacing: 2px;
  margin: 0 0 12px;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  margin: 0;
}
.blog-section .blog-post .blog-content .blog-title h2 a {
  display: inline-block;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  color: #222222;
}
.blog-section .blog-post:hover .blog-content .blog-title h2 a{
  color: #f8f8f8;
}
.blog-section .blog-post .blog-content .blog-title h2 a:hover {
  color: #a9a884;
}
.blog-section .blog-post .blog-content > p {
  max-width: 800px;
  margin: 0 auto 40px;
  line-height: 24px;
}
.blog-section .blog-post .blog-content .social-box {
  position: relative;
}
.blog-section .blog-post .blog-content .social-box ul.share-post {
  margin: 0;
  padding: 0;
  display: inline-block;
  padding: 0 10px;
  background: #ffffff;
  position: relative;
  z-index: 2;
}
.blog-section .blog-post .blog-content .social-box ul.share-post li {
  display: inline-block;
  margin: 0 10px;
}
.blog-section .blog-post .blog-content .social-box ul.share-post li a {
  display: inline-block;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  color: #888888;
  font-size: 14px;
}
.blog-section .blog-post .blog-content .social-box ul.share-post li a:hover {
  color: #222222;
}
.blog-section .blog-post .blog-content .social-box:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 1px;
  background: #eeeeee;
}
.blog-section .blog-post.audio-post iframe {
  height: 140px;
}
.blog-section .pagination-list {
  text-align: center;
  margin: 0;
  padding: 0;
  margin-top: 80px !important;
}
.blog-section ul.pagination-list li {
  display: inline-block;
}
.blog-section ul.pagination-list li a {
  display: inline-block;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  color: #222222;
  font-size: 16px;
  
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
}
.blog-section ul.pagination-list li a:hover {
  color: #888888;
}
.blog-section ul.pagination-list li.prev {
  float: left;
}
.blog-section ul.pagination-list li.prev a i {
  color: #888888;
  margin-right: 18px;
}
.blog-section ul.pagination-list li.next {
  float: right;
}
.blog-section ul.pagination-list li.next a i {
  color: #888888;
  margin-left: 18px;
}
.blog-section ul.pagination-list li.actual:after {
  content: '/';
  color: #222222;
  font-size: 16px;
  
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  margin-left: 5px;
}
.blog-title .post-meta {
  font-weight: 300;
  margin: 0 0 12px;
  color: #ccc;
  font-size: 12px;
  font-family: 'Droid Serif', serif;
  font-style: italic;
  margin-bottom: 30px;
}
.blog-title h1 {
  color: #222222;
  font-size: 36px;
  font-weight: 300;
  letter-spacing: 2px;
  margin: 0 0 12px;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  margin-bottom: 40px;
}
.blog-title p{
  color: #ccc;
}
.blog-title p a {
  color: #999;
} 
.sidebar .widget {
  margin-bottom: 40px;
}
.sidebar .widget > h2 {
  color: #a9a884;
  font-size: 14px;
  
  font-weight: 400;
  margin: 0 0 10px;
  text-transform: uppercase;
  letter-spacing: 1.6px;
  margin-bottom: 25px;
}
.sidebar form {
  margin: 0;
}
.sidebar form input[type="search"] {
  padding: 12px 20px;
  border: 1px solid #dedede;
  color: #888888;
  font-size: 13px;
  
  font-weight: 400;
  background: transparent;
  outline: none;
  width: 100%;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}
.sidebar form input[type="search"]:focus {
  border: 1px solid #a9a884;
}
.sidebar form button {
  display: inline-block;
  background: transparent;
  border: none;
  outline: none;
  float: right;
  margin-top: -33px;
  text-align: center;
  margin-right: 10px;
  position: relative;
  z-index: 2;
}
.sidebar form button i {
  color: #888888;
  font-size: 12px;
}
.sidebar ul.category-list {
  margin: 0;
  padding: 0;
}
.sidebar ul.category-list li {
  display: block;
  margin-bottom: 10px;
}
.sidebar ul.category-list li a {
  display: inline-block;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  color: #888888;
  font-size: 13px;
  
  display: block;
}
.sidebar ul.category-list li a i {
  margin-right: 15px;
}
.sidebar ul.category-list li a:hover {
  color: #a9a884;
}
.sidebar ul.category-list li:last-child {
  margin-bottom: 0;
}
.sidebar ul.recent-list {
  margin: 0;
  padding: 0;
}
.sidebar ul.recent-list li {
  display: block;
  overflow: hidden;
  margin-bottom: 20px;
}
.sidebar ul.recent-list li img {
  max-width: 70px;
  float: left;
}
.sidebar ul.recent-list li .post-content {
  margin-left: 100px;
}
.sidebar ul.recent-list li .post-content h2 {
  font-size: 13px;
  color: #888888;
  
  line-height: 20px;
  font-weight: 400;
  margin: 0 0 10px;
  margin: 5px 0 0;
}
.sidebar ul.recent-list li .post-content h2 a {
  display: inline-block;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  color: #888888;
}
.sidebar ul.recent-list li .post-content h2 a:hover {
  color: #a9a884;
}
.sidebar ul.recent-list li .post-content span {
  display: inline-block;
  color: #aaaaaa;
  font-size: 13px;
  
  margin: 0;
}
.sidebar ul.recent-list li:last-child {
  margin-bottom: 0;
}
.sidebar .text-widget p {
  line-height: 24px;
}
.page-banner-section:after{
  display: none !important;
}
/*-------------------------------------------------*/
/* =  single Post
/*-------------------------------------------------*/
.page-banner-section .page-banner-box p.post-meta, .page-banner-section .page-banner-box p.post-meta a{
  margin-top: -25px;
  margin-bottom: 25px;
  color: #ccc;
  font-size: 12px;
}
.single-post p{
  margin-bottom: 25px;
}
blockquote{
  font-style: italic;
  font-family: 'Droid Serif', serif;
  color: #a9a884;
  font-size: 14px;
  padding: 40px 20px;
  border: 5px solid #f8f8f8;
  line-height: 26px;
}
blockquote p{
  font-style: italic;
  font-family: 'Droid Serif', serif;
  color: #a9a884;
  font-size: 14px;
  line-height: 26px;
}
.single-blog-section .single-post .share-box {
  overflow: hidden;
  position: relative;
  text-align: center;
  margin: 55px 0px;
  z-index: 11;
}
.single-blog-section .single-post img{
  width: 100%;
  margin-bottom: 55px;
}
.single-blog-section .single-post .share-box:after{
  content: "";
  display: block;
  height: 1px;
  background: rgb(204,204,204);
  position: absolute;
  width: 100%;
  top: 50%;
  left: 0px;
  z-index: 11;
}
.single-blog-section .single-post .share-box ul{
  padding: 0px;
  text-align: center;
  list-style: none;
  margin: 0px;
  display: inline-block;
  background: #fff;
  padding: 0px 20px 0px 0px;
  position: relative;
  z-index: 111;

}
.single-blog-section .single-post .share-box ul li{
 
  display: inline-block;
  margin-left: 20px;
}
.single-blog-section .single-post .share-box ul li a {
  display: inline-block;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  color: rgb(204,204,204);
  
}
.single-blog-section .single-post .share-box ul li a:hover{
  color: #a9a884;
}
.single-blog-section{
  padding-bottom: 100px;
}
.pre-next-post a, .pre-next-post a{
  display: inline-block;
  color: #888;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}
.prev-post:hover a, .next-post:hover a{
  color: #222;
  text-decoration: none;
}
.pre-next-post .next-post{
  text-align: right;
}
.prev-post i, .prev-post span, .next-post i, .next-post span{
  font-size: 16px;
  color: #222;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}
.prev-post:hover i, .prev-post:hover span, .next-post:hover i, .next-post:hover span{

  color: #a9a884;
}
.single-blog-section .blog-box{
  padding: 0px 100px;
 }
.gallery-post .bx-wrapper .bx-pager {
  text-align: center;
  font-size: .85em;
  font-family: Arial;
  font-weight: bold;
  color: #666;
  padding-top: 00px;
  bottom: 50px;
}
/*-------------------------------------------------*/
/* =  Single portfolio
/*-------------------------------------------------*/
.project-title{
  text-align: center;
  margin: 30px 0px 55px 0px;

}
.project-title h1{
  font-size: 36px;
  
  font-weight: 200;
  text-transform: uppercase;
  letter-spacing: 5px;

}
.project-title span{
  color: #a9a884;
  font-size: 14px;
  font-family: 'Droid Serif', serif;
  font-style: italic;
}
.project-content h2{
  font-size: 14px;
  
  font-weight: 200;
  text-transform: uppercase;
  color: #a9a884;
  margin: 0px 0px 30px 0px;
}
.project-content{
  margin-bottom: 80px;
}
.single-project .pre-next-post{
  padding: 40px 0px;
  border-top: 1px solid #EEEEEE;
}
 .prev-post span,  .next-post span,.pre-next-post a, .pre-next-post a{
  font-size: 16px;
  font-weight: 200;
  
  color: #222;
}
.next-post i, .prev-post i{
  color: #ccc;
}
.text-center{
  text-align: center;
 }
  .project-gallery{
    margin-left: -5px;
    margin-right: -5px;
    overflow: hidden;
  }
 .project-gallery img{
  max-width: 100%;
  margin-bottom: 10px;
  padding-left: 5px;
  padding-right: 5px;
  float: left;
 }
/*-------------------------------------------------*/
/* =  contact page
/*-------------------------------------------------*/
.page-banner-section.contact-banner {
  background: url('../upload/banners/ban4.jpg') center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}
.contact-us-section {
  padding: 80px 0;
}
.contact-us-section #map {
  width: 100%;
  height: 670px;
}
.contact-us-section .title-section {
  margin-bottom: 30px;
  margin-top: 40px;
}
.contact-us-section .title-section h1 {
  color: #222222;
  font-size: 36px;
  
  font-weight: 300;
  letter-spacing: 2px;
  margin: 0 0 12px;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
}
.contact-us-section .title-section p {
  font-family: 'Droid Serif', serif;
  font-style: italic;
  font-size: 12px;
  line-height: 24px;
  margin: 0 auto;
}
.contact-us-section form#contact-form {
  margin: 0 0 20px;
}
.contact-us-section form#contact-form input[type="text"],
.contact-us-section form#contact-form textarea {
  width: 100%;
  padding: 0px 20px 14px;
  border: none;
  border-bottom: 1px solid #cccccc;
  margin-bottom: 35px;
  outline: none;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  color: #888888;
  font-size: 13px;
  
}
.contact-us-section form#contact-form input[type="text"]:focus,
.contact-us-section form#contact-form textarea:focus {
  border-bottom: 1px solid #a9a884;
}
.contact-us-section form#contact-form textarea {
  height: 130px;
  border: 1px solid #cccccc;
  padding-top: 14px;
  margin-top: 20px;
  margin-bottom: 30px;
}
.contact-us-section form#contact-form textarea:focus {
  border: 1px solid #a9a884;
}
.contact-us-section form#contact-form input[type="submit"] {
  min-width: 130px;
  text-align: center;
  padding: 7px 10px;
  background: #a9a884;
  color: #ffffff;
  font-size: 13px;
  
  outline: none;
  border: none;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  margin-bottom: 10px;
}
.contact-us-section form#contact-form input[type="submit"]:hover {
  background: #222222;
}
.contact-us-section form#contact-form .message {
  padding: 10px 20px;
  font-size: 13px;
  
}
.contact-us-section form#contact-form .message.error {
  color: #e74c3c;
  background: rgba(246, 80, 80, 0.4);
  border: 1px solid #e74c3c;
}
.contact-us-section form#contact-form .message.success {
  color: #29b504;
  background: rgba(63, 220, 21, 0.4);
  border: 1px solid #29b504;
}
.contact-us-section .contact-info h2 {
  color: #a9a884;
  font-size: 14px;
  
  font-weight: 400;
  margin: 0 0 10px;
  text-transform: uppercase;
  letter-spacing: 1.6px;
  margin-bottom: 15px;
}
.contact-us-section .contact-info p {
  margin-bottom: 0;
}
/*-------------------------------------------------*/
/* =  footer
/*-------------------------------------------------*/
footer {
  padding: 72px 0;
  background: #f7f7f7;
  text-align: center;
}
footer p.copyright {
  font-size: 14px;
  margin: 0;
}
/*-------------------------------------------------*/
/* =  Responsive Part
/*-------------------------------------------------*/

.section-content{
  padding: 100px 100px 0px 100px;
  background: #fff;
}
.section-content-grey{
  padding: 60px 100px 0px 100px;
  background: #f7f7f7;
}

@media (max-width: 1390px) {
  .section-content, .section-content-grey {
    padding: 50px 50px 0px 50px;
    
  }
}
@media (max-width: 820px) {
  .section-content, .section-content-grey {
    padding: 0px 0px 0px 0px;
   
  }
}
@media (max-width: 1199px) {
  .portfolio-section.masonry-style .portfolio-box.masonry .project-post{
    margin: 10px;
    width: 300px;
  }
  .portfolio-section.masonry-style.col2 .portfolio-box.masonry.no-padd .project-post{
    width: 485px;
    margin: 0px;
  }
  .portfolio-section.masonry-style .portfolio-box.masonry.no-padd .project-post{
    margin: 0px;
    width: 320px;
  }
  .page-banner-section{
    border-width: 0px !important;
  }
}
@media (max-width: 991px) {
  .statistic-section .statistic-box .statistic-post{
    width: 50%;
  }
   .statistic-section .statistic-box .statistic-post:after{
    display: none;
  }
  .statistic-section .statistic-box .statistic-post:nth-child(2n+1):after{
      display: block;
  }
  .portfolio-section.masonry-style .portfolio-box.masonry .project-post{
    margin: 10px;
    width: 350px;
  }
  .portfolio-section.masonry-style .portfolio-box.masonry.no-padd .project-post{
    margin: 0px;
    width: 370px;
  }
  .portfolio-section.masonry-style.col2 .portfolio-box.masonry.no-padd .project-post{
    width: 375px;
    margin: 0px;
  }
  .portfolio-section.grid-style-fullwidth .portfolio-box.masonry .project-post{
    width: 50%;
  }
  .team-section .team-post{
    width: 50%;
  }
  /*home1*/
  .half-section .left-half, .half-section .right-half{
    width: 100%;
  }
  .half-section .right-half .image-box, .half-section .right-half .text-box, .half-section .left-half .image-box, .half-section .left-half .text-box{
    float: none !important;
  width: 720px;
  margin: 0 auto;
  padding-right: 0 !important;
  padding-left: 0 !important;
  }
  .p-caption .hover-box .inner-hover{
    left: 0px;
    right: 0px;
    width: 100%;
  }
  .p-caption .hover-box .inner-hover span.corner-border.right-top, .p-caption .hover-box .inner-hover span.corner-border.right-bottom{
    right: 10px;
  }
  .p-caption .hover-box .inner-hover span.corner-border.left-top, .p-caption .hover-box .inner-hover span.corner-border.left-bottom{
      left: 10px;
  }
}
@media (max-width: 767px) {
  .blog-section .blog-post .blog-content .blog-title h2{
    font-size: 28px;
  }
  .single-blog-section .blog-box{
    padding: 0px;
  }
  .bx-wrapper .bx-next,.bx-wrapper .bx-prev{
      display: none !important; 
  }
  .gallery-post .bx-wrapper .bx-pager{
    bottom: 5px;
  }
  .statistic-section .statistic-box .statistic-post{
    width: 100%;
  }
  .portfolio-section.masonry-style .portfolio-box.masonry.no-padd .project-post{
    margin: 0px;
    width: 100%;
  }
  .statistic-section .statistic-box .statistic-post:after{
    display: none !important;
  }
  .section-content, .section-content-grey{
    padding: 50px 50px 0px 50px;
  }
  .portfolio-section.masonry-style.col2 .portfolio-box.masonry.no-padd .project-post{
    width: 100%;
    margin: 0px;
  }
  /**PORTFOLIO**/
  .portfolio-section.masonry-style .portfolio-box.masonry .project-post{
    margin: 15px 0px;
    width: 100%;
  }
  .portfolio-section.grid-style-fullwidth .portfolio-box.masonry .project-post{
    width: 100%;
  }
  .team-section .team-post{
    width: 100%;
  }
  /**MENU**/
  
  #content{
    
  }
}
.sub-menu{
  padding: 0px;
  margin: 0px;
  list-style: none;
}
.sub-menu a{
  font-size: 11px;
  text-transform: uppercase;
  color: #fff;
}
.site-nav img{
  margin-top: 80px;
}
@media (max-width: 581px) {
  
}
.vc_col-sm-12{
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.boxed .blog-section{
  padding-bottom: 100px;
}