/*
 * jQuery FlexSlider v2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */

/* Browser Resets */
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;} 

/* FlexSlider Necessary Styles
*********************************/ 
.flexslider {
	/*margin: 0 0 0 !important;*/
	padding: 0;
}

.flexslider .slides {overflow: hidden;} 

.flexslider .slides > li {display: none; -webkit-backface-visibility: hidden;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {
	width: 100%;
	display: block;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-o-border-radius: 2px;
}

.flex-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
html[xmlns] .slides {display: block;} 
* html .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}


/* FlexSlider Default Theme
*********************************/
.flexslider {margin-bottom: 30px; background: #fff; position: relative; zoom: 1;}
.flex-viewport {max-height: 2000px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; transition: all 1s ease;}
.loading .flex-viewport {max-height: 300px;}
.flexslider .slides {zoom: 1; position: relative;}

.carousel li {margin-right: 5px}


/* Direction Nav */

.flex-direction-nav {
	width: 100%; 
	height: 35px; 
	display: inline-block; 
	position: absolute; 
	top:50%;
	margin-top: -17px;
	left: 0; 
	text-align: center;
	opacity: 0;
	transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-webkit-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
}

.flexslider:hover .flex-direction-nav {
	opacity: 1;
}

.flex-direction-nav .flex-next {
	width: 20px; 
	height: 35px;
	float: right;
	margin-right: 220px;
	text-decoration: none;
	background: url(../images/arrow-right.png);
	transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-webkit-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
}

.flex-direction-nav .flex-prev {
	width: 20px; 
	height: 35px; 
	float: left;
	margin-left: 220px;
	text-decoration: none;
	background: url(../images/arrow-left.png);
	transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-webkit-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
}

/*.flex-direction-nav .flex-next:after {
	content: '\f105';
	font-family: 'FontAwesome';
	font-size: 26px;
	color: #fff;
	line-height: 35px;
}

.flex-direction-nav .flex-prev:after {
	content: '\f104';
	font-family: 'FontAwesome';
	font-size: 26px;
	color: #fff;
	line-height: 35px;
}*/

.flex-direction-nav .flex-next:hover,
.flex-direction-nav .flex-prev:hover {
	opacity: 0.7;
}

/* Control Nav */
.flex-control-nav {position: absolute; bottom: 20px; text-align: center; height: 14px; left: 0; width: 100%;}
.flex-control-nav li {margin: 0 5px; display: inline-block; zoom: 1; *display: inline;}
.flex-control-paging li a {width: 10px; height: 10px; display: block; cursor: pointer; text-indent: -9999px; border: 1px solid rgb(255,255,255); border-radius: 50%; -webkit-border-radius: 50%;
 -moz-border-radius: 50%; -o-border-radius: 50%;}
.flex-control-paging li a:hover { border: #fff }
.flex-control-paging li a.flex-active {cursor: default;}

.flex-control-thumbs {margin: 5px 0 0; position: static; overflow: hidden;}
#carousel li {width: 25%; float: left; margin: 0;}
#carousel img {width: 100%; display: block; opacity: .7; cursor: pointer;}
#carousel li.flex-active-slide img {opacity: 1; cursor: default;}

#carousel .flex-direction-nav {
	display: none;
}
@media(max-width: 769px){

.flex-direction-nav .flex-prev {
	margin-left: 30px;
}
.flex-direction-nav .flex-next {
	margin-right: 30px;
}
#carousel{
	display: none;
}
}