/*-------------------------------------------------
 =  Table of Css

 1.Isotope
 2.Header
 3.content - home sections
 4.Home grid
 5.Home masonry
 6.Home agency
 7.Blog page
 8.Single Post
 9.portfolio 2col, fullwidth
 10.home photography
 11.single-project
 12.shop page
 13.Services page
 14.About page
 15.Contact page
 16.Footer
 17.nouislider style (used in priccing range)
 18.Responsive Part
-------------------------------------------------*/
/*-------------------------------------------------------*/
/* 1. Isotope filtering
/*-------------------------------------------------------*/
.isotope-item {
  z-index: 2;
}
.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}
.isotope,
.isotope .isotope-item {
  /* change duration value to whatever you like */
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  transition-duration: 0.8s;
}
.isotope {
  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  transition-property: height, width;
}
.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform, opacity;
  transition-property: transform, opacity;
}
img{
  max-width: 100%;
}
/*-------------------------------------------------*/
/* =  Header
/*-------------------------------------------------*/
#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 500px;
  background: #ffffff;
  z-index: 999;
  padding: 220px 0px 0px 0px;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
 
  text-align: center;
}
.navbar-brand{
  float: none;
  margin-bottom: 60px;
  padding: 0px;
  display: inline-block;
  height: 85px;
  line-height: 85px;
}
.vertical-menu{
  margin: 0px;
  padding: 0px;
}
.main-menu ul li {
  display: block;
  
}
.main-menu ul li a {
  display: block;
  padding: 18px 30px 0;
  color: #999;
  font-size: 12px;
  
  font-weight: 400;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}
.main-menu ul li a:hover{
  color: #a9a884;
}

li.drop ul.drop-down {
  margin: 0;
  padding: 0;
  padding: 4px 0;
  position: absolute;
  top: 0;
  left: 100%;
  width: 250px;
  visibility: hidden;
  opacity: 0;
  z-index: 3;
  text-align: left;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  height: 100%;
  background: rgba(255,255,255,0.8);
  padding-top: 70%;
  text-align: center;
}

li.drop ul.drop-down li {
  list-style: none;
  display: block;
  margin: 0;
}

li.drop ul.drop-down li a {
  display: inline-block;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  display: block;
  
  font-size: 11px;
  padding: 5px;
  text-transform: uppercase;
  
  margin: 0;
  border: none;
}

li.drop:hover ul.drop-down {
  visibility: visible;
  opacity: 1;
}

.social_icons {
  margin: 80px 0px 0px 25px;
  padding: 0px;
}
.social_icons li {
  display: inline-block;
  margin-right: 25px;
}
.social_icons a {
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  color: #a9a884;
}
.social_icons a:hover {
  color: #222;
}
a.elemadded {
  display: none;
  background: #a9a884;
  position: relative;
  color: #ffffff;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  padding: 14px 18px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  text-decoration: none;
  border-top: 1px solid rgba(56, 56, 56, 0.2);
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-backface-visibility: hidden;
  text-align: center;
}
/*-------------------------------------------------*/
/* =  content - home sections
/*-------------------------------------------------*/
#content, #footer{
  margin-left: 500px;
}
#container {
  opacity: 0;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}
#container.active {
  opacity: 1;
}
p {
  font-size: 13px;
  color: #999;
  
  line-height: 24px;
  font-weight: 400;
  margin: 0 0 10px;
}
#home-section{
  position: relative;
}

#home-section .tp-caption.QK-Slide-Title {
  color: #ffffff;
  text-shadow: none;
  font-size: 36px;
  line-height: 42px;
  font-weight: 300;
  
  background-color: none;
  text-decoration: none;
  text-transform: uppercase;
  border-width: 0px;
  border-color: transparent;
  -webkit-font-smoothing: antialiased;
  border-style: none;
  text-align: center;
  letter-spacing: 2.5px !important;
}
#home-section .tp-caption.QK-Slide-Title span, .QK-Slide-Title span {
  display: inline-block;
  font-size: 82px;
  font-family: 'Dancing Script', cursive !important;
  text-transform: lowercase;
  font-weight: 400;
}
#home-section .tp-caption span.corner-border {
  display: block;
  width: 70px;
  height: 70px;
}
#home-section .tp-caption span.corner-border.left-top {
  border-top: 1px solid #ffffff;
  border-left: 1px solid #ffffff;
}
#home-section .tp-caption span.corner-border.left-bottom {
  border-bottom: 1px solid #ffffff;
  border-left: 1px solid #ffffff;
}
#home-section .tp-caption span.corner-border.right-top {
  border-top: 1px solid #ffffff;
  border-right: 1px solid #ffffff;
}
#home-section .tp-caption span.corner-border.right-bottom {
  border-bottom: 1px solid #ffffff;
  border-right: 1px solid #ffffff;
}
#home-section .tp-bannertimer {
  display: none !important;
}
#home-section .slotholder:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
}
#home-section.slider2 .tp-caption.QK-Slide-Title span, .slider2 .QK-Slide-Title span {
  display: inline-block;
  font-size: 82px;
}
#home-section.slider2 .tp-caption span.corner-border {
  display: block;
  width: 50px;
  height: 50px;
}
#home-section.slider2 .slotholder:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: rgba(17, 17, 17, 0.95);
}
.vc_col-sm-12{
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.banner-logo-section {
  text-align: center;
  padding: 100px 0;
}
.banner-logo-section img {
  margin-bottom: 30px;
}
.banner-logo-section p {
  font-family: 'Droid Serif', serif;
  font-style: italic;
  line-height: 24px;
  max-width: 535px;
  margin: 0 auto 20px;
}
.statistic-section {
  padding: 100px 0 80px;
  position: relative;
  background: url('../upload/banners/ban1.jpg') center fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}
.statistic-section .container {
  position: relative;
  z-index: 2;
}
.statistic-section .statistic-box {
  overflow: hidden;
}
.statistic-section .statistic-box .statistic-post {
  padding: 10px 0;
  width: 25%;
  margin-bottom: 20px;
  float: left;
  text-align: center;
  position: relative;
}
.statistic-section .statistic-box .statistic-post p {
  color: #ffffff;
  font-size: 48px;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  margin-bottom: 35px;
  letter-spacing: 2px;
  line-height: auto;
}
.statistic-section .statistic-box .statistic-post h2 {
  margin: 0;
  color: #a9a884;
  font-size: 13px;
  font-family: 'Droid Serif', serif;
  font-style: italic;
  font-weight: 400;
}
.statistic-section .statistic-box .statistic-post:after {
  content: '';
  position: absolute;
  width: 0;
  height: 100%;
  top: 0;
  right: 0;
  border-right: 2px solid #666666;
  -webkit-transform: rotate(30deg);
  -moz-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  -o-transform: rotate(30deg);
  transform: rotate(30deg);
}
.statistic-section .statistic-box .statistic-post:last-child:after {
  display: none;
}
.statistic-section:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(34, 34, 34, 0.7);
}
.portfolio-section.masonry-style {
  padding: 68px 0 0px;
}
.portfolio-section.masonry-style .portfolio-box.masonry {
  
  margin-bottom: 50px;
}
.portfolio-section.alt-style.masonry-style{
  padding: 10px 0px;
  margin-bottom: 0px;
}
.portfolio-section.alt-style.masonry-style .portfolio-box.masonry {
  margin-left: 0px;
  margin-right: 0px;
}
.portfolio-section.masonry-style .portfolio-box.masonry .project-post {
  width: 360px;
  margin: 15px;
}
.portfolio-section.alt-style.masonry-style .portfolio-box.masonry .project-post {
  width: 33.33333333%;
  margin: 0px;
  padding: 10px;
}
.portfolio-section.alt-style.masonry-style .portfolio-box.masonry .project-post.snd-size{
  width: 66.66666666%;
}
.portfolio-section.masonry-style .portfolio-box.masonry.no-padd .project-post {
  width: 390px;
  margin: 0px;
}
.portfolio-section.masonry-style.col2 .portfolio-box.masonry.no-padd .project-post{
  width: 585px;
  margin: 0px;
}
.project-post {
  margin: 15px;
  position: relative;
}
.project-post img {
  width: 100%;
}
.project-post .hover-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.9);
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  opacity: 0;
  visibility: hidden;
}
.blog-gal img{
  width: 100%;
}
.single-project{
  overflow: hidden;
  padding-top: 30px;
}
.portfolio-section.alt-style.masonry-style .portfolio-box.masonry .project-post .hover-box{
  top: 20px;
  left: 20px;
  width: auto;
  right: 20px;
  height: auto;
  bottom: 20px;
}
.project-post .hover-box .inner-hover {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 50%;
  margin-top: -50px;
  left: 0;
  padding: 0 20px;
  z-index: 2;
}
.project-post .hover-box .inner-hover h2 {
  color: #222222;
  font-size: 14px;
  
  font-weight: 300;
  letter-spacing: 2px;
  margin: 0 0 12px;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  margin-bottom: 15px;
}
.project-post .hover-box .inner-hover h2 a {
  display: inline-block;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  color: #222222;
}
.project-post .hover-box .inner-hover h2 a:hover {
  color: #a9a884;
}
.project-post .hover-box .inner-hover p {
  font-family: 'Droid Serif', serif;
  font-style: italic;
  font-size: 12px;
  line-height: 24px;
  max-width: 230px;
  margin: 0 auto;
}
.project-post .hover-box span.corner-border {
  position: absolute;
  display: block;
  width: 50px;
  height: 50px;
}
.project-post .hover-box span.corner-border.left-top {
  border-top: 1px solid #a9a884;
  border-left: 1px solid #a9a884;
  top: 0;
  left: 0;
}
.project-post .hover-box span.corner-border.left-bottom {
  border-bottom: 1px solid #a9a884;
  border-left: 1px solid #a9a884;
  left: 0;
  bottom: 0;
}
.project-post .hover-box span.corner-border.right-top {
  border-top: 1px solid #a9a884;
  border-right: 1px solid #a9a884;
  right: 0;
  top: 0;
}
.project-post .hover-box span.corner-border.right-bottom {
  border-bottom: 1px solid #a9a884;
  border-right: 1px solid #a9a884;
  right: 0;
  bottom: 0;
}
.project-post:hover .hover-box {
  opacity: 1;
  visibility: visible;
}
ul.filter {
  margin: 0;
  padding: 0;
  text-align: center;
  margin-bottom: 50px;
}
ul.filter li {
  display: inline-block;
  margin: 0 12px 10px;
}
ul.filter li a {
  display: inline-block;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  position: relative;
  padding: 3px 6px;
  color: #222222;
  font-size: 16px;
  
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  border-bottom: 1px solid transparent;
}
ul.filter li a span {
  position: absolute;
  top: -10px;
  right: -16px;
  color: #a9a884;
  font-size: 15px;
}
ul.filter li a.active,
ul.filter li a:hover {
  border-bottom: 1px solid #222222;
}
.center-button {
  text-align: center;
}
a.button-one {
  display: inline-block;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  width: 170px;
  text-align: center;
  padding: 7px 10px;
  background: #a9a884;
  color: #ffffff;
  font-size: 13px;
  
}
a.button-one:hover {
  background: #222222;
}
.clients-section {
  padding: 20px 0 80px;
  text-align: center;
}
.clients-section ul.clients-list {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.clients-section ul.clients-list li {
  float: left;
  width: 16.666666%;
  list-style: none;
  padding: 0 20px;
}
.clients-section ul.clients-list li a {
  display: inline-block;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  opacity: 0.5;
  width: 100%;
}
.clients-section ul.clients-list li a img {
  width: 100%;
}
.clients-section ul.clients-list li a:hover {
  opacity: 1;
}
.half-section {
  overflow: hidden;
}
.half-section .left-half {
  width: 50%;
  float: left;
  overflow: hidden;
}
.half-section .left-half .image-box,
.half-section .left-half .text-box {
  float: right;
  width: 570px;
}
.half-section .left-half .text-box {
  padding-right: 20px;
  padding-top: 60px;
}
.half-section .right-half {
  width: 50%;
  float: right;
  overflow: hidden;
}
.half-section .right-half .image-box,
.half-section .right-half .text-box {
  float: left;
  width: 570px;
}
.half-section .right-half .text-box {
  padding-left: 80px;
  padding-top: 60px;
}
.half-section .image-sect {
  position: relative;
  padding: 100px 0;
  background: url('../upload/banners/1.jpg') 0 fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}
.half-section .image-sect .image-box {
  position: relative;
  z-index: 2;
}
.half-section .image-sect .image-box img {
  width: 100%;
}
.half-section .image-sect .image-box .hover-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(34, 34, 34, 0.5);
}
.half-section .image-sect .image-box .hover-box .inner-hover {
  position: absolute;
  text-align: center;
  left: 100px;
  right: 100px;
  top: 50%;
  margin-top: -100px;
  padding: 50px 10px;
  z-index: 2;
}
.half-section .image-sect .image-box .hover-box .inner-hover h2 {
  color: #222222;
  font-size: 36px;
  
  font-weight: 300;
  letter-spacing: 2px;
  margin: 0 0 12px;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  margin-bottom: 15px;
}
.half-section .image-sect .image-box .hover-box .inner-hover h2 a {
  display: inline-block;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  color: #ffffff;
}
.half-section .image-sect .image-box .hover-box .inner-hover h2 a:hover {
  color: #a9a884;
}
.half-section .image-sect .image-box .hover-box .inner-hover p {
  font-family: 'Droid Serif', serif;
  font-style: italic;
  font-size: 12px;
  line-height: 24px;
  max-width: 235px;
  margin: 0 auto;
  color: #ffffff;
}
.half-section .image-sect .image-box .hover-box .inner-hover span.corner-border {
  position: absolute;
  display: block;
  width: 50px;
  height: 50px;
}
.half-section .image-sect .image-box .hover-box .inner-hover span.corner-border.left-top {
  border-top: 1px solid #a9a884;
  border-left: 1px solid #a9a884;
  top: 0;
  left: 0;
}
.half-section .image-sect .image-box .hover-box .inner-hover span.corner-border.left-bottom {
  border-bottom: 1px solid #a9a884;
  border-left: 1px solid #a9a884;
  left: 0;
  bottom: 0;
}
.half-section .image-sect .image-box .hover-box .inner-hover span.corner-border.right-top {
  border-top: 1px solid #a9a884;
  border-right: 1px solid #a9a884;
  right: 0;
  top: 0;
}
.half-section .image-sect .image-box .hover-box .inner-hover span.corner-border.right-bottom {
  border-bottom: 1px solid #a9a884;
  border-right: 1px solid #a9a884;
  right: 0;
  bottom: 0;
}
.half-section .image-sect.back-two {
  background: url('../upload/banners/2.jpg') 0 fixed;
}
.half-section .image-sect.back-three {
  background: url('../upload/banners/3.jpg') 0 fixed;
}
.half-section .image-sect:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(34, 34, 34, 0.3);
}
.half-section .text-sect {
  padding: 100px 0;
}
.half-section .text-sect .title-section {
  margin-bottom: 90px;
}
.half-section .text-sect .title-section h1 {
  color: #222222;
  font-size: 36px;
  
  font-weight: 300;
  letter-spacing: 2px;
  margin: 0 0 12px;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
}
.half-section .text-sect .title-section p {
  font-family: 'Droid Serif', serif;
  font-style: italic;
  font-size: 12px;
  line-height: 24px;
  margin: 0 auto;
}
.half-section .text-sect .about-post {
  overflow: hidden;
  margin-bottom: 60px;
}
.half-section .text-sect .about-post i {
  float: left;
  font-size: 40px;
  color: #a9a884;
  margin-top: 12px;
}
.half-section .text-sect .about-post .post-content {
  margin-left: 100px;
}
.half-section .text-sect .about-post .post-content h2 {
  color: #a9a884;
  font-size: 14px;
  
  font-weight: 400;
  margin: 0 0 10px;
  text-transform: uppercase;
  letter-spacing: 1.6px;
  margin-bottom: 20px;
}
.half-section .text-sect .services-post {
  margin-bottom: 50px;
}
.half-section .text-sect .services-post i {
  font-size: 40px;
  color: #a9a884;
  margin-bottom: 20px;
}
.half-section .text-sect .services-post h2 {
  color: #a9a884;
  font-size: 14px;
  
  font-weight: 400;
  margin: 0 0 10px;
  text-transform: uppercase;
  letter-spacing: 1.6px;
  margin-bottom: 20px;
}
.half-section .text-sect .contact-info h2 {
  color: #a9a884;
  font-size: 14px;
  
  font-weight: 400;
  margin: 0 0 10px;
  text-transform: uppercase;
  letter-spacing: 1.6px;
  margin-bottom: 15px;
}
.half-section .text-sect .contact-info p {
  margin-bottom: 0;
}
.half-section .text-sect form#contact-form {
  margin: -60px 0 20px;
}
.half-section .text-sect form#contact-form input[type="text"],
.half-section .text-sect form#contact-form textarea {
  width: 100%;
  padding: 0px 20px 14px;
  border: none;
  border-bottom: 1px solid #cccccc;
  margin-bottom: 35px;
  outline: none;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  color: #888888;
  font-size: 13px;
  
}
.half-section .text-sect form#contact-form input[type="text"]:focus,
.half-section .text-sect form#contact-form textarea:focus {
  border-bottom: 1px solid #a9a884;
}
.half-section .text-sect form#contact-form textarea {
  height: 130px;
  border: 1px solid #cccccc;
  padding-top: 14px;
  margin-top: 20px;
  margin-bottom: 30px;
}
.half-section .text-sect form#contact-form textarea:focus {
  border: 1px solid #a9a884;
}
.half-section .text-sect form#contact-form input[type="submit"] {
  min-width: 130px;
  text-align: center;
  padding: 7px 10px;
  background: #a9a884;
  color: #ffffff;
  font-size: 13px;
  
  outline: none;
  border: none;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  margin-bottom: 10px;
}
.half-section .text-sect form#contact-form input[type="submit"]:hover {
  background: #222222;
}
.half-section .text-sect form#contact-form .message {
  padding: 10px 20px;
  font-size: 13px;
  
}
.half-section .text-sect form#contact-form .message.error {
  color: #e74c3c;
  background: rgba(246, 80, 80, 0.4);
  border: 1px solid #e74c3c;
}
.half-section .text-sect form#contact-form .message.success {
  color: #29b504;
  background: rgba(63, 220, 21, 0.4);
  border: 1px solid #29b504;
}
/*-------------------------------------------------*/
/* =  home2, home3
/*-------------------------------------------------*/
.portfolio-section.masonry-style.no-padding-top {
  padding-top: 0;
}
.portfolio-section.grid-style-fullwidth {
  padding: 80px 0 100px;
}
.portfolio-section.grid-style-fullwidth .portfolio-box.masonry {
  margin: 0 10px;
}
.portfolio-section.grid-style-fullwidth .portfolio-box.masonry .project-post {
  width: 25%;
  padding: 10px;
  margin: 0;
}
.portfolio-section.grid-style-fullwidth .portfolio-box.masonry .project-post .hover-box {
  width: auto;
  height: auto;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  background: rgba(255, 255, 255, 0.9);
}
.portfolio-section.grid-style-fullwidth .portfolio-box.masonry .project-post .hover-box .inner-hover {
  margin-top: -20px;
}
.portfolio-section.grid-style-fullwidth .portfolio-box.masonry .project-post .hover-box .inner-hover h2 {
  color: #a9a884;
  font-size: 14px;
  
  font-weight: 400;
  margin: 0 0 10px;
  text-transform: uppercase;
  letter-spacing: 1.6px;
}
.portfolio-section.grid-style-fullwidth .portfolio-box.masonry .project-post .hover-box .inner-hover h2 a {
  color: #222222;
}
.portfolio-section.grid-style-fullwidth .portfolio-box.masonry .project-post .hover-box .inner-hover h2 a:hover {
  color: #a9a884;
}
.portfolio-section.grid-style-fullwidth.no-padding {
  padding: 0;
}
.services-section {
  padding: 70px 0;
}
.services-section .services-box .services-post {
  margin-bottom: 30px;
}
.services-section .services-box .services-post i {
  font-size: 30px;
  color: #a9a884;
  margin-bottom: 22px;
}
.services-section .services-box .services-post h2 {
  color: #a9a884;
  font-size: 14px;
  
  font-weight: 400;
  margin: 0 0 10px;
  text-transform: uppercase;
  letter-spacing: 1.6px;
  margin-bottom: 12px;
}
.services-section .services-box .services-post p {
  margin: 0;
}
/*-------------------------------------------------*/
/* =  about us
/*-------------------------------------------------*/
.about-post{
  margin-bottom: 40px;
}
.about-post h2 {
  color: #a9a884;
  font-size: 14px;
  
  font-weight: 400;
  margin: 0 0 10px;
  text-transform: uppercase;
  letter-spacing: 1.6px;
  margin-bottom: 20px;
}
.page-banner-section {
  padding: 145px 0;
  background: url('../upload/banners/ban2.jpg') center fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}
.page-banner-section > .container{
  position: relative;
  z-index: 111;
}
.page-banner-section .page-banner-box {
  max-width: 770px;
  margin: 0 auto;
  padding: 80px 0;
  position: relative;
  text-align: center;
}
.page-banner-section .page-banner-box h1 {
  color: #222222;
  font-size: 36px;
  
  font-weight: 300;
  letter-spacing: 2px;
  margin: 0 0 12px;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  color: #ffffff;
}
.page-title{
  font-size: 36px;
  font-weight: 300;
  letter-spacing: 2px;
  margin: 0px;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  color: #fff;
}
.subtitle{
  color: #a9a884;
  font-size: 12px;
  font-family: 'Droid Serif', serif;
  font-style: italic;
  text-align: right;
  margin-bottom: 0px;
}
.page-depth{
  list-style: none;
  margin: 0px;
  padding: 0px;
}
.page-depth li{
  display: inline-block;
}
.page-depth li a{

}
.page-banner-section .page-banner-box p {
  color: #a9a884;
  font-size: 14px;
  font-family: 'Droid Serif', serif;
  font-style: italic;
  margin: 16px 0 0;
}
.page-banner-section .page-banner-box span.corner-border {
  position: absolute;
  display: block;
  width: 50px;
  height: 50px;
}
.page-banner-section .page-banner-box span.corner-border.left-top {
  border-top: 1px solid #a9a884;
  border-left: 1px solid #a9a884;
  top: 0;
  left: 0;
}
.page-banner-section .page-banner-box span.corner-border.left-bottom {
  border-bottom: 1px solid #a9a884;
  border-left: 1px solid #a9a884;
  left: 0;
  bottom: 0;
}
.page-banner-section .page-banner-box span.corner-border.right-top {
  border-top: 1px solid #a9a884;
  border-right: 1px solid #a9a884;
  right: 0;
  top: 0;
}
.page-banner-section .page-banner-box span.corner-border.right-bottom {
  border-bottom: 1px solid #a9a884;
  border-right: 1px solid #a9a884;
  right: 0;
  bottom: 0;
}
.team-section {
  overflow: hidden;
}
.team-section .team-post {
  float: left;
  width: 33.33333333%;
  padding-bottom: 130px;
  position: relative;
}
.team-section .team-post img {
  width: 100%;
}
.team-section .team-post .team-content {
  text-align: center;
  position: absolute;
  z-index: 2;
  top: 100%;
  margin-top: -130px;
  width: 100%;
  padding: 25px 10px;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}
.team-section .team-post .team-content h2 {
  color: #a9a884;
  font-size: 14px;
  
  font-weight: 400;
  margin: 0 0 10px;
  text-transform: uppercase;
  letter-spacing: 1.6px;
}
.team-section .team-post .team-content span {
  display: inline-block;
  margin: 0 0 10px;
  color: #888888;
  font-size: 13px;
  font-family: 'Droid Serif', serif;
  font-style: italic;
}
.team-section .team-post .team-content ul.social-team {
  margin: 0;
  padding: 0;
}
.team-section .team-post .team-content ul.social-team li {
  display: inline-block;
  margin: 0 3px;
}
.team-section .team-post .team-content ul.social-team li a {
  display: inline-block;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  color: #888888;
  font-size: 12px;
  
  padding-bottom: 2px;
  border-bottom: 1px solid transparent;
}
.team-section .team-post .team-content ul.social-team li a:hover {
  color: #222222;
  border-bottom: 1px solid #222222;
}
.team-section .team-post .team-content ul.social-team li:before {
  content: '/';
  color: #888888;
  font-size: 12px;
  
  margin-right: 10px;
}
.team-section .team-post .team-content ul.social-team li:first-child:before {
  content: '';
  margin-right: 0;
}
.team-section .team-post:hover .team-content {
  top: 50%;
  margin-top: -120px;
}
.team-section .team-post:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.9);
  opacity: 0;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}
.team-section .team-post:hover:after {
  opacity: 1;
}
.about-us-section {
  padding-top: 60px;
}
.about-us-section .about-box {
  text-align: center;
  margin-bottom: 70px;
}
.about-us-section .about-box img {
  margin-bottom: 34px;
}
.about-us-section .about-box p {
  max-width: 950px;
  margin: 0 auto 25px;
}
.about-us-section .skills-box p {
  margin-bottom: 20px;
}
.about-us-section .skills-box .meter {
  height: 2px;
  width: 100%;
  background: #eeeeee;
  margin-bottom: 10px;
}
.about-us-section .skills-box .meter > p {
  height: 100%;
  background: #222222;
  text-align: right;
  margin: 0;
  padding-top: 1px;
}
.about-us-section .skills-box .meter > p span {
  display: block;
  color: #888888;
  font-size: 13px;
  
  margin-top: -40px;
}
.align-right{
  text-align: right;
}
.about-us-section .skills-box.align-right .meter > p{
  float: right;
}
.about-us-section .skills-box.align-right .meter > p span{
  float: left;
}
.skill-post{
  margin-bottom: 20px;
}
/*
*Client Section
*/
.bxslider-clients img {
  opacity: 0.7;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}
.bxslider-clients img:hover{
  opacity: 1;
}
.client-section{
  margin-bottom: 60px;
}
.section-content{
  margin-bottom: 60px;
}

/*-------------------------------------------------*/
/* =  portfolio
/*-------------------------------------------------*/
.page-banner-section.portfolio-banner {
  background: url('../upload/banners/ban3.jpg') center fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}
.portfolio-section.grid-style-fullwidth .center-button {
  margin-top: 60px;
}
/*-------------------------------------------------*/
/* =  blog page
/*-------------------------------------------------*/
.page-banner-section.blog-banner {
  background: url('../upload/banners/ban5.jpg') center fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}
.blog-section {
  padding: 30px 0px 0px 0px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.blog-section .blog-post {
  margin-bottom: 65px;
  padding-bottom: 65px;
  border-bottom: 1px solid #eeeeee;
}
.blog-section .blog-post img {
  width: 100%;
  /*margin-bottom: 55px;*/
}
.no-padding, .post-des{
  padding-left: 0px;
  padding-right: 0px;
}
.blog-section .blog-post iframe {
  height: 400px;
  margin-bottom: 50px;
  width: 100%;
}
.blog-section .blog-post .blog-content {
  text-align: center;
  padding: 100px 30px;
}
.blog-section .blog-post .blog-content .blog-title {
  margin-bottom: 30px;
}
.blog-section .blog-post .blog-content .blog-title p {
  font-family: 'Droid Serif', serif;
  font-style: italic;
  margin-bottom: 10px;
  color: #aaaaaa;
}
.blog-section .blog-post .blog-content .blog-title p a {
  display: inline-block;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  color: #222222;
}
.blog-post > .row{
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}
.blog-post:hover > .row{
  background: #f8f8f8;
}
.blog-section .blog-post .blog-content .blog-title p a:hover {
  color: #a9a884;
}
.blog-section .blog-post .blog-content .blog-title h2 {
  color: #222222;
  font-size: 36px;
  
  font-weight: 300;
  letter-spacing: 2px;
  margin: 0 0 12px;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  margin-bottom: 40px;
}
.blog-section .blog-post .blog-content .blog-title h2 a {
  display: inline-block;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  color: #222222;
}
.blog-section  .pagination-list {
  
  padding-bottom: 65px;
  border-bottom: 1px solid #eeeeee;
}
.blog-section .blog-post .blog-content .blog-title h2 a:hover {
  color: #a9a884;
}
.blog-section .blog-post .blog-content > p {
  max-width: 800px;
  margin: 0 auto 40px;
  line-height: 24px;
}
.blog-section .blog-post .blog-content .social-box {
  position: relative;
}
.blog-section .blog-post .blog-content .social-box ul.share-post {
  margin: 0;
  padding: 0;
  display: inline-block;
  padding: 0 10px;
  
  position: relative;
  z-index: 2;
}
.blog-section .blog-post .blog-content .social-box ul.share-post li {
  display: inline-block;
  margin: 0 10px;
}
.blog-section .blog-post .blog-content .social-box ul.share-post li a {
  display: inline-block;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  color: #888888;
  font-size: 14px;
}
.blog-section .blog-post .blog-content .social-box ul.share-post li a:hover {
  color: #222222;
}
/*.blog-section .blog-post .blog-content .social-box:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 1px;
  background: #eeeeee;
}*/
.blog-section .blog-post.audio-post iframe {
  height: 140px;
}
.blog-section ul.pagination-list {
  text-align: center;
  margin: 0;
  padding: 0;
  padding-bottom: 60px;
  border-bottom:1px solid #eeeeee; 
}
.blog-section ul.pagination-list li {
  display: inline-block;
}
.blog-section ul.pagination-list li a {
  display: inline-block;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  color: #222222;
  font-size: 16px;
  
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
}
.blog-section ul.pagination-list li a:hover {
  color: #888888;
}
.blog-section ul.pagination-list li.prev {
  float: left;
}
.blog-section ul.pagination-list li.prev a i {
  color: #888888;
  margin-right: 18px;
}
.blog-section ul.pagination-list li.next {
  float: right;
}
.blog-section ul.pagination-list li.next a i {
  color: #888888;
  margin-left: 18px;
}
.blog-section ul.pagination-list li.actual:after {
  content: '/';
  color: #222222;
  font-size: 16px;
  
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  margin-left: 5px;
}
.sidebar .widget {
  margin-bottom: 40px;
}
.sidebar .widget > h2 {
  color: #a9a884;
  font-size: 14px;
  
  font-weight: 400;
  margin: 0 0 10px;
  text-transform: uppercase;
  letter-spacing: 1.6px;
  margin-bottom: 25px;
}
.sidebar form {
  margin: 0;
}
.sidebar form input[type="search"] {
  padding: 12px 20px;
  border: 1px solid #dedede;
  color: #888888;
  font-size: 13px;
  
  font-weight: 400;
  background: transparent;
  outline: none;
  width: 100%;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}
.sidebar form input[type="search"]:focus {
  border: 1px solid #a9a884;
}
.sidebar form button {
  display: inline-block;
  background: transparent;
  border: none;
  outline: none;
  float: right;
  margin-top: -33px;
  text-align: center;
  margin-right: 10px;
  position: relative;
  z-index: 2;
}
.sidebar form button i {
  color: #888888;
  font-size: 12px;
}
.sidebar ul.category-list {
  margin: 0;
  padding: 0;
}
.sidebar ul.category-list li {
  display: block;
  margin-bottom: 10px;
}
.sidebar ul.category-list li a {
  display: inline-block;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  color: #888888;
  font-size: 13px;
  
  display: block;
}
.sidebar ul.category-list li a i {
  margin-right: 15px;
}
.sidebar ul.category-list li a:hover {
  color: #a9a884;
}
.sidebar ul.category-list li:last-child {
  margin-bottom: 0;
}
.sidebar ul.recent-list {
  margin: 0;
  padding: 0;
}
.sidebar ul.recent-list li {
  display: block;
  overflow: hidden;
  margin-bottom: 20px;
}
.sidebar ul.recent-list li img {
  max-width: 70px;
  float: left;
}
.sidebar ul.recent-list li .post-content {
  margin-left: 100px;
}
.sidebar ul.recent-list li .post-content h2 {
  font-size: 13px;
  color: #888888;
  
  line-height: 20px;
  font-weight: 400;
  margin: 0 0 10px;
  margin: 5px 0 0;
}
.sidebar ul.recent-list li .post-content h2 a {
  display: inline-block;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  color: #888888;
}
.sidebar ul.recent-list li .post-content h2 a:hover {
  color: #a9a884;
}
.sidebar ul.recent-list li .post-content span {
  display: inline-block;
  color: #aaaaaa;
  font-size: 13px;
  
  margin: 0;
}
.sidebar ul.recent-list li:last-child {
  margin-bottom: 0;
}
.sidebar .text-widget p {
  line-height: 24px;
}
/*-------------------------------------------------*/
/* =  single Post
/*-------------------------------------------------*/
.page-banner-section .page-banner-box p.post-meta, .page-banner-section .page-banner-box p.post-meta a{
  margin-top: -25px;
  margin-bottom: 25px;
  color: #ccc;
  font-size: 12px;
}
.blog-box{
  padding-left: 15px;
  padding-right: 15px;
}
.single-post p{
  margin-bottom: 25px;
}
.blog-gal{
  padding-top: 30px;
}
blockquote{
  font-style: italic;
  font-family: 'Droid Serif', serif;
  color: #a9a884;
  font-size: 14px;
  padding: 40px 20px;
  border: 5px solid #f8f8f8;
  line-height: 26px;
}
 blockquote p{
  font-style: italic;
  font-family: 'Droid Serif', serif;
  color: #a9a884;
  font-size: 14px;
  line-height: 26px;
 }
.single-blog-section{
  padding-top: 65px;
}
.blog-title .post-meta{
  
  font-weight: 300;
  margin: 0 0 12px;
  color: #ccc;
  font-size: 12px;
  font-family: 'Droid Serif', serif;
  font-style: italic;
  margin-bottom: 30px;
}
.blog-title .post-meta a{
  color: #999;
}
.blog-title h1{
  color: #222222;
  font-size: 36px;
  
  font-weight: 300;
  letter-spacing: 2px;
  margin: 0 0 12px;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  margin-bottom: 40px;
}
.single-blog-section .single-post .share-box {
  overflow: hidden;
  position: relative;
  text-align: center;
  margin: 55px 0px;
  z-index: 11;
}
.single-blog-section .single-post img{
  width: 100%;
  margin-bottom: 55px;
}
.single-blog-section .single-post .share-box:after{
  content: "";
  display: block;
  height: 1px;
  background: rgb(204,204,204);
  position: absolute;
  width: 100%;
  top: 50%;
  left: 0px;
  z-index: 11;
}
.single-blog-section .single-post .share-box ul{
  padding: 0px;
  text-align: center;
  list-style: none;
  margin: 0px;
  display: inline-block;
  background: #fff;
  padding: 0px 20px 0px 0px;
  position: relative;
  z-index: 111;

}
.single-blog-section .single-post .share-box ul li{
 
  display: inline-block;
  margin-left: 20px;
}
.single-blog-section .single-post .share-box ul li a {
  display: inline-block;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  color: rgb(204,204,204);
  
}
.single-blog-section .single-post .share-box ul li a:hover{
  color: #a9a884;
}
.single-blog-section{
  padding-bottom: 100px;
}
.pre-next-post a, .pre-next-post a{
  display: inline-block;
  color: #888;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}
.prev-post:hover a, .next-post:hover a{
  color: #222;
  text-decoration: none;
}
.pre-next-post .next-post{
  text-align: right;
}
.prev-post i, .prev-post span, .next-post i, .next-post span{
  font-size: 16px;
  color: #222;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}
.prev-post:hover i, .prev-post:hover span, .next-post:hover i, .next-post:hover span{

  color: #a9a884;
}

/*-------------------------------------------------*/
/* =  Single portfolio
/*-------------------------------------------------*/
.project-title{
  text-align: center;
  margin: 30px 0px 55px 0px;

}
.project-gallery img{
  margin-bottom: 30px;
}
.project-title h1{
  font-size: 36px;
  
  font-weight: 200;
  text-transform: uppercase;
  letter-spacing: 5px;

}
.project-title span{
  color: #a9a884;
  font-size: 14px;
  font-family: 'Droid Serif', serif;
  font-style: italic;
}
.project-content h2{
  font-size: 14px;
  
  font-weight: 200;
  text-transform: uppercase;
  color: #a9a884;
  margin: 0px 0px 30px 0px;
}
.project-content{
  margin-bottom: 80px;
  text-align: center;
  padding-top: 150px;
}
.single-project .pre-next-post {
  padding: 40px 0px;
  border-top: 1px solid #EEEEEE;
  margin-top: 70px;
  border-bottom: 1px solid #EEEEEE;
  margin-bottom: 0px !important;
}
 .prev-post span,  .next-post span,.pre-next-post a, .pre-next-post a{
  font-size: 16px;
  font-weight: 200;
  
  color: #222;
}
.next-post i, .prev-post i{
  color: #ccc;
}
.text-center{
  text-align: center;
 }
/*-------------------------------------------------*/
/* =  contact page
/*-------------------------------------------------*/
.page-banner-section.contact-banner {
  background: url('../upload/banners/ban4.jpg') center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}
.contact-us-section {
  padding: 30px 0;
}
.contact-us-section #map {
  width: 100%;
  height: 670px;
}
.contact-us-section .title-section {
  margin-bottom: 30px;
  margin-top: 40px;
}
.contact-us-section .title-section h1 {
  color: #222222;
  font-size: 36px;
  
  font-weight: 300;
  letter-spacing: 2px;
  margin: 0 0 12px;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
}
.contact-us-section .title-section p {
  font-family: 'Droid Serif', serif;
  font-style: italic;
  font-size: 12px;
  line-height: 24px;
  margin: 0 auto;
}
.contact-us-section form#contact-form {
  margin: 0 0 20px;
}
.contact-us-section form#contact-form input[type="text"],
.contact-us-section form#contact-form textarea {
  width: 100%;
  padding: 0px 20px 14px;
  border: none;
  border-bottom: 1px solid #cccccc;
  margin-bottom: 35px;
  outline: none;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  color: #888888;
  font-size: 13px;
  
}
.contact-us-section form#contact-form input[type="text"]:focus,
.contact-us-section form#contact-form textarea:focus {
  border-bottom: 1px solid #a9a884;
}
.contact-us-section form#contact-form textarea {
  height: 130px;
  border: 1px solid #cccccc;
  padding-top: 14px;
  margin-top: 20px;
  margin-bottom: 30px;
}
.contact-us-section form#contact-form textarea:focus {
  border: 1px solid #a9a884;
}
.contact-us-section form#contact-form input[type="submit"] {
  min-width: 130px;
  text-align: center;
  padding: 7px 10px;
  background: #a9a884;
  color: #ffffff;
  font-size: 13px;
  
  outline: none;
  border: none;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  margin-bottom: 10px;
}
.contact-us-section form#contact-form input[type="submit"]:hover {
  background: #222222;
}
.contact-us-section form#contact-form .message {
  padding: 10px 20px;
  font-size: 13px;
  
}
.contact-us-section form#contact-form .message.error {
  color: #e74c3c;
  background: rgba(246, 80, 80, 0.4);
  border: 1px solid #e74c3c;
}
.contact-us-section form#contact-form .message.success {
  color: #29b504;
  background: rgba(63, 220, 21, 0.4);
  border: 1px solid #29b504;
}
.contact-us-section .contact-info h2 {
  color: #a9a884;
  font-size: 14px;
  
  font-weight: 400;
  margin: 0 0 10px;
  text-transform: uppercase;
  letter-spacing: 1.6px;
  margin-bottom: 15px;
}
.contact-us-section .contact-info p {
  margin-bottom: 0;
}
.info{
  margin-bottom: 50px;
}
/*-------------------------------------------------*/
/* =  footer
/*-------------------------------------------------*/
footer {
  padding: 72px 0;
  background: #fff;
  text-align: center;
}
footer p.copyright {
  font-size: 14px;
  margin: 0;
}
/*-------------------------------------------------*/
/* =  Responsive Part
/*-------------------------------------------------*/
@media (max-width: 1700px) {
   #header{
    width: 300px;
  }
  #content, #footer{
    margin-left: 300px;
  }
}
@media (max-width: 1500px) {
  .portfolio-section.masonry-style.col2 .portfolio-box.masonry.no-padd .project-post{
    width: 495px;
  }
  .portfolio-section.masonry-style .portfolio-box.masonry .project-post{
    margin: 10px;
    width: 310px;
  }
  .container {
  width: 990px;
}
 #header{
    width: 200px;
  }
  #content, #footer{
    margin-left: 200px;
  }
}
@media (max-width: 1245px) {
  .portfolio-section.masonry-style.col2 .portfolio-box.masonry.no-padd .project-post{
    width: 395px;
  }
  .portfolio-section.masonry-style .portfolio-box.masonry .project-post{
    margin: 10px;
    width: 300px;
  }
  #header{
    width: 180px;
  }
  #content, #footer{
    margin-left: 180px;
  }
  .container {
    width: 790px;
  }
  .portfolio-section.masonry-style .portfolio-box.masonry .project-post{
    margin: 10px;
    width: 243.333px;
  }
}
@media (max-width: 991px) {
  .portfolio-section.masonry-style.col2 .portfolio-box.masonry.no-padd .project-post{
    width: 285px;
  }
   .container {
    width: 570px;
  }
  .project-content{
    padding-top: 80px;
  }
  .portfolio-section.masonry-style .portfolio-box.masonry .project-post{
    margin: 10px;
    width: 265px ;
  }
  #header {
  position: relative;
  top: inherit;
  left: inherit;
  width: 100%;
  margin: 0 auto;
  height: auto !important;
  padding: 30px 0px;
  padding-bottom: 0px;
}
a.elemadded {
  display: block;
}
  #content, #footer{
    margin: 0px;
  }
  .statistic-section .statistic-box .statistic-post{
    width: 50%;
  }
  .statistic-section .statistic-box .statistic-post:after{
    display: none;
  }
  .statistic-section .statistic-box .statistic-post:nth-child(2n+1):after{
      display: block;
  }
  
  .portfolio-section.grid-style-fullwidth .portfolio-box.masonry .project-post{
    width: 50%;
  }
  .team-section .team-post{
    width: 50%;
  }
  /*home1*/
  .half-section .left-half, .half-section .right-half{
    width: 100%;
  }
  .half-section .right-half .image-box, .half-section .right-half .text-box, .half-section .left-half .image-box, .half-section .left-half .text-box{
    float: none !important;
  width: 720px;
  margin: 0 auto;
  padding-right: 0 !important;
  padding-left: 0 !important;
  }
  li.drop ul.drop-down{
    position: static;
    padding: 0px;
    width: 100%;
    visibility: visible;
    opacity: 1;
    padding: 20px 0px;
  }

  .main-menu > ul {
    position: absolute;
    left: 0;
    visibility: hidden;
    opacity: 0;
    width: 100%;
    top: 100%;
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: rotateX(90deg);
    -moz-transform: rotateX(90deg);
    -ms-transform: rotateX(90deg);
    -o-transform: rotateX(90deg);
    transform: rotateX(90deg);
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    max-height: 320px;
    overflow-y: scroll;
    background: #fff;
    padding-bottom: 30px;
  }
  .main-menu > ul.active {
  visibility: visible;
  opacity: 1;
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  -ms-transform: rotateX(0deg);
  -o-transform: rotateX(0deg);
  transform: rotateX(0deg);
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}
.social_icons{
  display: none;
}
.navbar-brand{
  margin-bottom: 30px;
}
}
@media (max-width: 767px) {
  .portfolio-section.masonry-style.col2 .portfolio-box.masonry.no-padd .project-post, .portfolio-section.alt-style.masonry-style .portfolio-box.masonry .project-post{
    width: 100% !important;
  }
   .container {
    width: 100%;
  }
  .statistic-section .statistic-box .statistic-post{
    width: 100%;
  }
  .statistic-section .statistic-box .statistic-post:after{
    display: none !important;
  }
  /**PORTFOLIO**/
  .portfolio-section.masonry-style .portfolio-box.masonry .project-post{
    margin: 15px 0px;
    width: 100%;
  }
  .portfolio-section.grid-style-fullwidth .portfolio-box.masonry .project-post{
    width: 100%;
  }
  .team-section .team-post{
    width: 100%;
  }
  /**MENU**/
  
}
@media (min-width: 768px) {
  .about-post:last-child, .skill-post:last-child{
    margin-bottom: 0px;
  }
}
