
/*Albion Menu Overlay*/

a {
   outline: 0;
}

.main_content {

	position: relative;
	z-index:50;
	/*border:1px solid @silver*/
}
.list {
	width: 40px;
	height: 60px;
	right: 20px;
	top: 20px;
 	fill:@eagle;
	position: absolute
}
.list:hover {
 fill:@silver-chalice;
	cursor: pointer
}


#logo_dark {
	width: 100%;z-index:100;position: relative;margin-bottom:0px
}
#logo_dark .cls-1 {
fill:@white
}
#logo_dark .cls-1 {
fill:@white
}

#logo_dark .cls-2, 
#logo_dark .cls-3, 
#logo_dark .cls-4{fill-rule:evenodd;} 

#logo_dark .cls-2 {
	fill: @mine-shaft-1
}

#logo_dark:hover .cls-2 {
	fill: @mine-shaft}
	
#logo_dark .cls-3 {
fill:@eagle;
}
#logo_dark:hover .cls-3 {
fill:@silver-chalice;
	cursor: pointer
}
.list-content {
color:@eagle;
	border: 1px solid red
}
/* Overlay style */
.overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
 background-color: fade(@mine-shaft-1, 98%);
	z-index: 100;
	/*background-image: url(../images/overlay.png);
	background-repeat: repeat;*/
	font-family: 'Open Sans';
	padding: 0px;
	font-size: 35px;
	text-transform: uppercase;
	-webkit-font-smoothing: antialiased;
}
/* Overlay closing cross */
.overlay .overlay-close {
	width: 80px;
	height: 80px;
	position: absolute;
	right: 20px;
	top: 20px;
	overflow: hidden;
	border: none;
	background: url(../images/cross.png) no-repeat center center;
	text-indent: 200%;
	color: transparent;
	outline: none;
	z-index: 100;
}
/* Menu style */
.overlay nav {
	text-align: center;
	position: relative;
	top: 50%;
	height: 60%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}
.overlay ul {
	list-style: none;
	padding: 0;
	margin: 0 auto;
	display: inline-block;
	height: 100%;
	position: relative;
}
.overlay ul li {
	display: block;
	height: 20%;
	height: calc(100% / 5);
	min-height: 54px;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
.overlay ul li a {
	font-size: 54px;
	font-weight: 300;
	display: block;
	color: #fff;
	-webkit-transition: color 0.2s;
	transition: color 0.2s;
}
.overlay ul li a:hover, .overlay ul li a:focus {
 color: @eagle
}
/* Effects */
.overlay-slidedown {
	visibility: hidden;
	-webkit-transform: translateY(-100%);
	transform: translateY(-100%);
	-webkit-transition: -webkit-transform 0.4s ease-in-out, visibility 0s 0.4s;
	transition: transform 0.4s ease-in-out, visibility 0s 0.4s;
}
.overlay-slidedown.open {
	visibility: visible;
	-webkit-transform: translateY(0%);
	transform: translateY(0%);
	-webkit-transition: -webkit-transform 0.4s ease-in-out;
	transition: transform 0.4s ease-in-out;
}

@media screen and (max-height: 30.5em) {
.overlay nav {
	height: 70%;
	font-size: 34px;
}
.overlay ul li {
	min-height: 34px;
}
}
