
/* LESS Document */

/**
 * Note: I have omitted any vendor-prefixes for clarity.
 * Adding them is left as an exercise for the reader.
 */
 
body, html {
	/*height: 100%;*/
	color: @silver-chalice;
	font-family: Raleway;
	/*	font-family: 'Open Sans';*/
	padding: 0px;
	font-size: 35px;
	outline: none;
	background: #f8f8f8;
}
a:link {
color:@eagle
}
a:hover {
color:@silver-chalice;
	outline: none;
	text-decoration: none
}
h1 {
	text-align: center;
color: @mine-shaft;
	font-size: 36px;
	font-weight: 300;
	letter-spacing: 2px;
	margin: 0 0 12px;
	text-transform: uppercase;
	-webkit-font-smoothing: antialiased;
	margin: 0;
	padding: 30px 0px;
	margin-bottom: 40px;
 border-top:1px solid @eagle;
 border-bottom:1px solid @eagle;
}
#events {
	margin-top: 50px;
	margin-bottom: 50px
}
/* Links*/

.content_block p {
	padding: 10px 0px
}
strong {
	font-weight: 300;
color:@mine-shaft
}
/* Effect 1: Brackets */

.overlay a::before {
	margin-right: 10px;
	content: '[';
	-webkit-transform: translateX(20px);
	-moz-transform: translateX(20px);
	transform: translateX(20px);
	display: inline-block;
	opacity: 0;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
	-moz-transition: -moz-transform 0.3s, opacity 0.2s;
	transition: transform 0.3s, opacity 0.2s;
}
.overlay a::after {
	margin-left: 10px;
	content: ']';
	-webkit-transform: translateX(-20px);
	-moz-transform: translateX(-20px);
	transform: translateX(-20px);
	display: inline-block;
	opacity: 0;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
	-moz-transition: -moz-transform 0.3s, opacity 0.2s;
	transition: transform 0.3s, opacity 0.2s;
}
.overlay a:hover::before, .overlay a:hover::after, .overlay a:focus::before, .overlay a:focus::after {
	opacity: 1;
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	transform: translateX(0px);
}
a.linkbox::before {
	margin-right: 10px;
	content: '[';
	-webkit-transform: translateX(20px);
	-moz-transform: translateX(20px);
	transform: translateX(20px);
	display: inline-block;
	opacity: 0;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
	-moz-transition: -moz-transform 0.3s, opacity 0.2s;
	transition: transform 0.3s, opacity 0.2s;
}
a.linkbox::after {
	margin-left: 10px;
	content: ']';
	-webkit-transform: translateX(-20px);
	-moz-transform: translateX(-20px);
	transform: translateX(-20px);
	display: inline-block;
	opacity: 0;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
	-moz-transition: -moz-transform 0.3s, opacity 0.2s;
	transition: transform 0.3s, opacity 0.2s;
}
a.linkbox {
color:@eagle
}
a.linkbox:hover {
color:@mine-shaft-1!important
}
.next_event_block a.linkbox:hover {
color:@white!important
}
.next_event_block a.linkbox:hover {
color:@white!important
}
a.linkbox:hover::before, a.linkbox:hover::after, a.linkbox:focus::before, a.linkbox:focus::after {
	opacity: 1;
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	transform: translateX(0px);
}
/* Links*/
 
 
 
 
 
footer {
	font-size: 14px;
color:@silver-chalice
}
#opening {
	font-size: 14px;
color:@silver-chalice
}
footer h4, footer h4.widgettitle {
color:@silver-chalice!important;
	text-transform: uppercase;
	-webkit-font-smoothing: antialiased;
}
.day {
	width: 20%;
	display: inline-block;
color:@silver-chalice
}
.time {
	width: 20%;
	display: inline-block
}
.to {
	width: 20%;
	display: inline-block;
	text-align: center
}
.copyright {
	font-size: 10px;
color:@mine-shaft-1;
	text-align: center;
	margin-top: 30px
}
.copyright a {
color:@mine-shaft-1
}
.main_content {
background:@white
}
.debug {
	border: 1px red solid;
	min-height: 250px
}
.trileft {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 25px 0 25px 44.3px;
	border-color: transparent transparent transparent #ffffff;
	top: 50%;
	transform: translateY(-50%);
	position: absolute;
	left: 0px;
	z-index: 100
}
.triright {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 25px 44.3px 25px 0;
	border-color: transparent #ffffff transparent transparent;
	top: 50%;
	right: 0px;
	transform: translateY(-50%);
	position: absolute;
}
.hover-box .inner-hover p.date {
	font-weight: bold;
 color: @mine-shaft;
	font-size: 15px;
	text-align: center
}
.hover-box .inner-hover p.date {
	font-weight: bold;
 color: @mine-shaft;
	font-size: 15px;
	text-align: center
}
.block {
	background-position: center center;
	background-size: cover;
	min-height: 35vw;
	display: inline-block
}
.hover-box {
/* top: 50px;
  left: 50px;
  background:red;
  
 right: 50px;
	height:100%;
  bottom: 50px;*/
  /*background: rgba(255, 255, 255, 0.8);
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  opacity: 0;
  visibility: hidden;*/
}
.inner-hover {
	transform: translateY(-50%);
	position: absolute;
	width: 80%;
	text-align: center;
	top: 50%;
	left: 10%;
	padding: 30px 30px;
	z-index: 2;
}
.inner-hover h4 {
 color: @mine-shaft;
	font-size: 15px;
	font-weight: 300;
	letter-spacing: 2px;
	margin: 0 0 12px;
	text-transform: uppercase;
	-webkit-font-smoothing: antialiased;
	margin-top: 15px;
}
.inner-hover h4 a {
	display: inline-block;
	text-decoration: none;
	transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	color: #a9a884;
}
.hover-box .inner-hover h4 a:hover {
 color: @mine-shaft
}
.inner-hover h2 {
 color: @mine-shaft;
	font-size: 36px;
	font-weight: 300;
	letter-spacing: 2px;
	margin: 0 0 12px;
	text-transform: uppercase;
	-webkit-font-smoothing: antialiased;
	margin-bottom: 15px;
}
.inner-hover h2 a {
	display: inline-block;
	text-decoration: none;
	transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	color: #a9a884;
}
.hover-box .inner-hover h2 a:hover {
 color: @mine-shaft;
}
.hover-box .inner-hover p {
	font-family: 'Droid Serif', serif;
	font-style: italic;
	font-size: 12px;
	line-height: 24px;
	margin: 0 auto;
	color: #999999
}
span.corner-border {
	position: absolute;
	display: block;
	width: 50px;
	height: 50px;
}
span.corner-border.left-top {
	border-top: 1px solid #a9a884;
	border-left: 1px solid #a9a884;
	top: 0;
	left: 0;
}
span.corner-border.left-bottom {
	border-bottom: 1px solid #a9a884;
	border-left: 1px solid #a9a884;
	left: 0;
	bottom: 0;
}
span.corner-border.right-top {
	border-top: 1px solid #a9a884;
	border-right: 1px solid #a9a884;
	right: 0;
	top: 0;
}
span.corner-border.right-bottom {
	border-bottom: 1px solid #a9a884;
	border-right: 1px solid #a9a884;
	right: 0;
	bottom: 0;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*@font-face {
	font-family: 'Italo-Regular';
	src: url('../fonts/Italo-Regular/Italo-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/Italo-Regular/Italo-Regular.woff') format('woff'), url('../fonts/Italo-Regular/Italo-Regular.ttf') format('truetype'), url('../fonts/Italo-Regular/Italo-Regular.svg#Italo-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}*/
@font-face {
	font-family: 'P22ArtsandCraftsHunter';
	src: url('../fonts/P22ArtsandCraftsHunter/P22ArtsandCraftsHunter.eot?#iefix') format('embedded-opentype'), url('../fonts/P22ArtsandCraftsHunter/P22ArtsandCraftsHunter.otf') format('opentype'), url('../fonts/P22ArtsandCraftsHunter/P22ArtsandCraftsHunter.woff') format('woff'), url('../fonts/P22ArtsandCraftsHunter/P22ArtsandCraftsHunter.ttf') format('truetype'), url('../fonts/P22ArtsandCraftsHunter/P22ArtsandCraftsHunter.svg#P22ArtsandCraftsHunter') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'PentaGramsAurra';
	src: url('../fonts/PentaGramsAurra/PentaGramsAurra.eot?#iefix') format('embedded-opentype'), url('../fonts/PentaGramsAurra/PentaGramsAurra.woff') format('woff'), url('PentaGramsAurra.ttf') format('truetype'), url('../fonts/PentaGramsAurra/PentaGramsAurra.svg#PentaGramsAurra') format('svg');
	font-weight: normal;
	font-style: normal;
}
.home .logo {
	display: none
}
.logo {
	font-size: 50px;
	font-family: 'PentaGramsAurra';
	text-transform: capitalize;
	dislay: inline-block;
	padding: 0px;
	line-height: 1;
	font-weight: 100;
	margin-top: -10px
}
.logo:hover {
	color: #b9bb9b!important
}
.header {
	padding: 20px;
	display: block;
	width: 100%;
	z-index: 9;
	text-align: center;
	min-height: 50px;
 color: @mine-shaft;
	background-image: url(../images/header.png);
	background-position: right 0px top -10px;
	background-repeat: repeat-x;
}
#share {
	height: 500px
}
.box {
	background: yellow;
	height: 33.33vw;
}
#hero {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
	width: 100%;/*	border-bottom: 1px solid #b9bb9b*/
	top: 0;
	/*position: fixed;*/
	display: block;
	z-index: -1
}
.hero_content, #hero #hero_content {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	color: #FFFFFF;
	padding: 20px;
}
.home #hero #hero_content {
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	color: #FFFFFF;/*	border: 4px white double;*/
}
#food {
	background-image: url(../images/food.jpg)
}
#beer {
	background-image: url(../images/zinc.jpg)
}
/*.navbar {
	background: #f8f8f8;
	border-bottom: none;
	font-size: 24px;
	margin-top: 0px;
	font-family: 'Italo-Regular';
	padding: 20px 0px;
}
.navbar-nav li a {
	padding: 5px!important;
	text-transform: capitalize
}
.navbar-inverse .navbar-nav > .active > a {
	background: transparent;
	border-bottom: 1px solid white;
	padding-bottom: 5px
}
.navbar-inverse .navbar-nav a:hover {
	background: transparent;
	color: #b9bb9b!important;
}*/
.food, .ale, .events {
	padding: 0px;
	text-align: center;
}
#home-boxes .food:hover h3, #home-boxes .ale:hover h3, #home-boxes .events:hover h3, #home-boxes .food:hover h5, #home-boxes .ale:hover h5, #home-boxes .events:hover h5 {
	text-decoration: none;
	color: #b9bb9b!important;
	text-decoration: none!important;
}
.food h3, .ale h3, .events h3 {
}
.food {
	background: #a0a9a6;
	background-size: cover;
	background-repeat: no-repeat;
}
.ale {
	background: #4c4d47;
	background-size: cover;
	background-repeat: no-repeat;
}
.events {
}
#footer {
	margin-bottom: 0px;
	margin-top: 50px;
	border: 0px;
	color: #b9bb9b;
	padding: 0px;
	/*	background: #b9bb9b;*/
	padding-top: 50px;
	padding-bottom: 0px;
	background: #f8f8f8;
}
#footer .widgettitle {
	color: #b9bb9b;
}
#footer-wrapper {
	background: #f8f8f8;
}
#sub-floor {
	background-image: url(../images/header.png);
	height: 60px;
	background-position: right 0px bottom -40px;
	background-repeat: repeat-x;
	background-color: #f8f8f8;
	color: #b9bb9b;/*background-color: #b9bb9b;*/
}
#footer-widgets {
	margin: 0px;
}
#home-boxes h5 {
	color: #ffffff!important
}
.slabtexted .slabtext {
	display: -moz-inline-box;
	display: inline-block;
	white-space: nowrap;
}
.slabtextinactive .slabtext {
	display: inline;
	white-space: normal;
	font-size: 1em !important;
	letter-spacing: inherit !important;
	word-spacing: inherit !important;
 *letter-spacing:0 !important;
 *word-spacing:0 !important;
}
.slabtextdone .slabtext {
	display: block;
}
.main_content {
	/*margin-top: 80vh;
	box-shadow: 150px 0px 150px 0px rgba(0, 0, 0, 0.9);
	color: white;*/
	font-size: 15px;
	padding: 50px;
}
.navbar-collapse {
}
.featured {
	/*Background: rgba(0, 0, 0, 0.2);*/
	padding: 0px;
	text-align: center;
	display: inline-block;
}
#next_event h4, #featured_event h4 {
	font-family: 'Italo-Regular';
	color: rgba(185, 187, 155,0.80);
	font-size: 35px;
	padding: 0px;
	margin: 0px
}
#next_event .more, #featured_event .more {
	font-size: 12px;
	padding: 2px;
	background: rgba(185, 187, 155,1);
	color: rgba(42,42,42,1.00);
}
.more:hover {
	cursor: pointer;
	background: white;
	color: rgba(42,42,42,1.00)
}
.date_format {
	font-size: 12px
}
.background {
	background-position: center;
	background-size: cover;
	height: 50%
}
.featured_tag {
	Background: rgba(0, 0, 0, 0.2);
	height: 100%;
	width: 100%
}
/**
 * Note: I have omitted any vendor-prefixes for clarity.
 * Adding them is left as an exercise for the reader.
 */

.event_single {
	text-align: left;
	font-size: 20px
}
.date {
	text-align: left;
	font-size: 30px
}
#featured_home, #next_home {
	border: 1px solid white;
	height: 300px;
	position: relative;
	margin-bottom: 10px
}
#featured_home h6, #next_home h6 {
	background: white;
	position: absolute;
	display: inline-block;
	color: black;
	top: 0px;
	padding: 5px;
	margin: 0px;
	left: 0px;
	font-size: 35px
}
hr {
	margin: 10px 0px;
	padding: 0px;
	background-color: rgba(185, 187, 155,0.80);
	height: 1px;
	border: 0;
}
.icon-ticket4 {
	color: rgba(185, 187, 155,0.80);
	font-size: 35px
}
.event_single a:link, .event_single a:visited {
	color: white;
	display: block
}
.event_single a:hover, .event_single a:hover h4, .event_single a:hover .date, .event_single a:hover .icon-ticket4 {
	color: #adabb7!important
}
.vig:hover {
	-webkit-filter: sepia(100%); /* Chrome, Safari, Opera */
	filter: sepia(100%);
	transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
}
.vig {
	-webkit-filter: none;/* Chrome, Safari, Opera */
	filter: none;
	cursor: pointer
}
.home .vig:hover {
	-webkit-filter: sepia(10%); /* Chrome, Safari, Opera */
	filter: sepia(10%);
	transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
}
.home .vig {
	-webkit-filter: none;/* Chrome, Safari, Opera */
	filter: none;
	cursor: pointer
}
.single-facebook h1 {
color: @mine-shaft;
	font-size: 36px;
	font-weight: 300;
	letter-spacing: 2px;
	margin: 0 0 12px;
	text-transform: uppercase;
	-webkit-font-smoothing: antialiased;
	margin: 0;
	padding: 30px 0px;
	margin-bottom: 40px;
 border-top:1px solid @silver-chalice;
 border-bottom:1px solid @silver-chalice;
}
/*Single pages*/
.single-facebook .date {
 color: @silver-chalice;
	font-size: 15px;
	padding-bottom: 10px;
}
.block-single {
	height: 450px;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	margin-bottom: 30px
}
.all-events {
	float: right;
	text-transform: uppercase;
	-webkit-font-smoothing: antialiased;
color:@eagle
}
.content_block {
border-bottom:1px solid @silver-chalice;
	padding-bottom: 30px
}
.content_block_page {
	margin-bottom: 30px;
	height: 450px;
	background-position: center;
	background-size: cover
}
.content_block_page p {
	padding: 10px 0px
}
/*Footer next event	*/
.next_event_block {
	margin-bottom: 30px;
	height: 200px;
	background-position: center center;
	background-size: cover;
	font-size: 16px
}
.next_event_block .overlay_color {
	height: 100%;
	width: 100%;
	background: black;
	opacity: 0.7;
	text-align: center;
color:@white!important
}
.next_event_block h4 {
color:@white!important;
}
/*Footer next event	*/
	
	/*Forms*/
	
input[type="text"], input[type="email"] {
	width: 100%;
	padding: 14px 20px 14px;
	border: none;
	border-bottom: 1px solid #cccccc;
	border-left: 1px solid transparent;
	border-right: 1px solid transparent;
	border-top: 1px solid transparent;
	margin-bottom: 35px;
	outline: none;
	transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	color: #888888;
	font-size: 13px;
}
input[type="submit"], #comment-submit, .btn {
	min-width: 130px;
	text-align: center;
	padding: 7px 10px;
	background: #a9a884!important;
	color: #ffffff;
	font-size: 13px;
	outline: none;
	border: none;
	transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	margin-bottom: 10px;
}
input[type="submit"]:hover, .btn:hover {
	background: #222;
}
input[type="text"], input[type="email"] {
	width: 100%;
	padding: 14px 20px 14px;
	border: none;
	border-bottom: 1px solid #cccccc;
	border-left: 1px solid transparent;
	border-right: 1px solid transparent;
	border-top: 1px solid transparent;
	margin-bottom: 35px;
	outline: none;
	transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	color: #888888;
	font-size: 13px;
}
textarea, .woocommerce #review_form #respond textarea {
	width: 100%;
	padding: 0px 20px 14px;
	border: none;
	border-bottom: 1px solid #cccccc;
	margin-bottom: 35px;
	outline: none;
	transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	color: #888888;
	font-size: 13px;
	height: 130px;
	border: 1px solid #cccccc;
	padding-top: 14px;
	margin-top: 20px;
	margin-bottom: 30px;
}
input[type="text"]:focus, input[type="email"]:focus, textarea:focus, .woocommerce #review_form #respond textarea:focus {
	background: #fcfcfc;
	border: 1px solid #ccc;
}


/*Breadcrumbs*/
#breadcrumbs {font-size:12px;margin-top:20px}
#breadcrumbs a:link, #breadcrumbs a:visited {
color:@eagle!important
}
#breadcrumbs a:hover {
color:@silver-chalice!important;
	outline: none;
	text-decoration: none
}