
@font-face {
  font-family: 'P22ArtsandCraftsHunter';
  src: url('P22ArtsandCraftsHunter.eot?#iefix') format('embedded-opentype'),  url('P22ArtsandCraftsHunter.otf')  format('opentype'),
	     url('P22ArtsandCraftsHunter.woff') format('woff'), url('P22ArtsandCraftsHunter.ttf')  format('truetype'), url('P22ArtsandCraftsHunter.svg#P22ArtsandCraftsHunter') format('svg');
  font-weight: normal;
  font-style: normal;
}
