
@font-face {
  font-family: 'PentaGramsAurra';
  src: url('PentaGramsAurra.eot?#iefix') format('embedded-opentype'),  url('PentaGramsAurra.woff') format('woff'), url('PentaGramsAurra.ttf')  format('truetype'), url('PentaGramsAurra.svg#PentaGramsAurra') format('svg');
  font-weight: normal;
  font-style: normal;
}
