@font-face {
    font-family: 'icomoon';
    src:    url('fonts/icomoon.eot?vw3gxl');
    src:    url('fonts/icomoon.eot?vw3gxl#iefix') format('embedded-opentype'),
        url('fonts/icomoon.ttf?vw3gxl') format('truetype'),
        url('fonts/icomoon.woff?vw3gxl') format('woff'),
        url('fonts/icomoon.svg?vw3gxl#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-mic2:before {
    content: "\e91f";
}
.icon-volume:before {
    content: "\e920";
}
.icon-headphones2:before {
    content: "\e921";
}
.icon-music2:before {
    content: "\e922";
}
.icon-piano:before {
    content: "\e923";
}
.icon-music3:before {
    content: "\e924";
}
.icon-ticket2:before {
    content: "\e900";
}
.icon-ticket3:before {
    content: "\e901";
}
.icon-ticket4:before {
    content: "\e902";
}
.icon-ticket5:before {
    content: "\e903";
}
.icon-ticket6:before {
    content: "\e904";
}
.icon-home3:before {
    content: "\e905";
}
.icon-image:before {
    content: "\e906";
}
.icon-images:before {
    content: "\e907";
}
.icon-headphones:before {
    content: "\e908";
}
.icon-music:before {
    content: "\e909";
}
.icon-video-camera:before {
    content: "\e90a";
}
.icon-bullhorn:before {
    content: "\e90b";
}
.icon-mic:before {
    content: "\e90c";
}
.icon-price-tag:before {
    content: "\e90d";
}
.icon-price-tags:before {
    content: "\e90e";
}
.icon-ticket:before {
    content: "\e90f";
}
.icon-phone:before {
    content: "\e910";
}
.icon-phone-hang-up:before {
    content: "\e911";
}
.icon-envelop:before {
    content: "\e912";
}
.icon-pushpin:before {
    content: "\e913";
}
.icon-location:before {
    content: "\e914";
}
.icon-location2:before {
    content: "\e915";
}
.icon-clock:before {
    content: "\e916";
}
.icon-calendar:before {
    content: "\e917";
}
.icon-glass:before {
    content: "\e918";
}
.icon-glass2:before {
    content: "\e919";
}
.icon-mug:before {
    content: "\e91a";
}
.icon-spoon-knife:before {
    content: "\e91b";
}
.icon-star-full:before {
    content: "\e91c";
}
.icon-arrow-down:before {
    content: "\e91d";
}
.icon-arrow-down2:before {
    content: "\e91e";
}
.icon-library_music:before {
    content: "\e030";
}
.icon-surround_sound:before {
    content: "\e049";
}
.icon-music_video:before {
    content: "\e063";
}
.icon-call_end:before {
    content: "\e0b1";
}
.icon-place:before {
    content: "\e55f";
}
.icon-expand_less:before {
    content: "\e5ce";
}
.icon-expand_more:before {
    content: "\e5cf";
}
.icon-arrow_upward:before {
    content: "\e5d8";
}
.icon-arrow_downward:before {
    content: "\e5db";
}

