
@font-face {
  font-family: 'Italo-Regular';
  src: url('Italo-Regular.eot?#iefix') format('embedded-opentype'),  url('Italo-Regular.woff') format('woff'), url('Italo-Regular.ttf')  format('truetype'), url('Italo-Regular.svg#Italo-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
